@{
    ViewBag.Title = "Coberturas e Benefícios | Multi Seguro Viagem";
    ViewBag.MetaDescription = "Entenda as coberturas básicas e benefícios oferecidos pelas operadoras de Seguro Viagem";
    ViewBag.MetaKeywords = "seguro viagem, coberturas seguro viagem, benefícios seguro viagem, seguro de viagem";
    ViewBag.OGURL = "https://multiseguroviagem.com.br/sobre/coberturas";
    ViewBag.OGTitle = "Multi Seguro Viagem | Coberturas e Benefícios";
    ViewBag.OGSitename = "Multi Seguro Viagem";
    ViewBag.OGImage = "https://multiseguroviagem.com.br/www/img/multiseguroviagem-coberturas.jpg";
}
<div class="informacoes">
    <div class="page-header header-small gradiente" data-parallax="true">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="title" id="in-titulo-home">Coberturas e Benefícios</h1>
                    <h2 class="title sub-titulo" id="in-titulo-home">Entenda as coberturas oferecidas pelas operadoras</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="about-description text-center col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h5 class="descricao-sobrenos">
                            Os planos de Seguro Viagem oferecem diversas opções de coberturas e benefícios, que variam conforme as seguradoras, planos e <b>condições gerais</b> do plano escolhido.
                            Entenda cada uma das coberturas oferecidas pelas operadoras:
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">local_hospital</i>
                        </div>
                        <h4>Assistência Médica</h4>
                        <p>O segurado receberá atendimento médico local, pela rede de atendimento autorizada. Mas caso não seja possível, o segurado receberá um reembolso pelas despesas médicas e hospitalares, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">local_pharmacy</i>
                        </div>
                        <h4>Assistência Farmacêutica</h4>
                        <p>O segurado receberá reembolso de despesas com medicamentos, desde que prescritos por orientação médica e durante o período de viagem, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">undo</i>
                        </div>
                        <h4>Assistência Médica Para Pré-Existência</h4>
                        <p>Atendimento para crises decorrentes de doença preexistente ou crônica, em caso de emergência ou urgência, é um item essencial para alguns viajantes. As normas estão no item Condições Gerais do seguro contratado.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">cancel</i>
                        </div>
                        <h4>Cancelamento De Viagem</h4>
                        <p>Reembolso de despesas ou depósitos pagos previamente pelo segurado, em caso de cancelamento ou interrupção da viagem, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">watch_later</i>
                        </div>
                        <h4>Atraso de Voo</h4>
                        <p>Caso o voo do atrase por mais de 6 horas, o segurado receberá reembolso até o valor limite da cobertura, incluindo gastos de hotel, de refeições e de comunicação, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">flight_land</i>
                        </div>
                        <h4>Repatriação Sanitária ou por Morte</h4>
                        <p>Se alguma fatalidade ocorrer, o corpo é repatriado ao Brasil para os processos fúnebres.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">transfer_within_a_station</i>
                        </div>
                        <h4>Passagem Gratuita e Acompanhamento Familiar</h4>
                        <p>Em caso de hospitalização do segurado, viajando sozinho, por um período superior a 05 dias, ele pode receber acompanhamento de um familiar direto, com direito à cobertura de gastos com passagem e hotel, conforme estabelecido em Condições Gerais do seguro contratado.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">directions_run</i>
                        </div>
                        <h4>Cobertura para Prática de Esportes</h4>
                        <p>O segurado terá direito ao atendimento emergencial, em caso de acidente pessoal ou enfermidade súbita e aguda, durante todo o período da viagem, conforme estabelecido em Condições Gerais do seguro contratado.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">child_care</i>
                        </div>
                        <h4>Acompanhamento de Menores</h4>
                        <p>Em caso de acidente ou enfermidade, menores de 15 anos e idosos acima de 75 anos terão acompanhante durante viagem de regresso ao país de origem, sob a responsabilidade da seguradora, conforme o item Condições Gerais do seguro contratado.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">feedback</i>
                        </div>
                        <h4>Mensagens Urgentes</h4>
                        <p>Transmissão de mensagens urgentes à família do segurado estão garantidas, através da Central Operativa, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">tag_faces</i>
                        </div>
                        <h4>Assistência odontológica</h4>
                        <p>O segurado poderá receber atendimento médico odontológico, dentro do valor limite de sua cobertura, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">gavel</i>
                        </div>
                        <h4>Assistência Jurídica</h4>
                        <p>Assistência e reembolso para gastos gerados com problemas judiciais, desde que ocorridos durante a viagem, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">attach_money</i>
                        </div>
                        <h4>Reembolso por Gastos</h4>
                        <p>Em caso de atraso de bagagem, o segurado receberá indenização para comprar itens de necessidade básica (higiene pessoal e roupas) para viagens aéreas de ida, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">business_center</i>
                        </div>
                        <h4>Seguro de Bagagens</h4>
                        <p>Em caso de extravio, roubo, furto ou destruição da bagagem, o segurado receberá uma indenização de acordo com o valor da cobertura contratada, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">directions</i>
                        </div>
                        <h4>Translados Gratuitos</h4>
                        <p>Para casos de emergência, a remoção e transporte do segurado até um centro médico mais próximo, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">hotel</i>
                        </div>
                        <h4>Convalescença em Hotel e Extensão de internação hospitalar</h4>
                        <p>Cobertura de custo prolongado de convalescença em hotel, até cinco dias, e extensão de internação hospitalar por recomendação médica são itens que constam de alguns planos de seguro viagem. Podem ser verificados em Condições Gerais do seguro contratado.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">local_hospital</i>
                        </div>
                        <h4>Check-up Médico</h4>
                        <p>Por alguma doença que não seja pré-existente, sendo previamente autorizado pela Central Operativa.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">mood_bad</i>
                        </div>
                        <h4>Seguro de Vida por Morte Acidental e Invalidez</h4>
                        <p>Para todos os planos que oferecem cobertura em caso de morte ou invalidez permanente por acidente, ocorrido durante o período de viagem ao exterior, as normas especificas estão esclarecidas em Condições Gerais  </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">group</i>
                        </div>
                        <h4>Assistência de Fiança Judicial</h4>
                        <p>Caso seja necessário, será adiantado um valor a título de empréstimo para pagamento da fiança, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons gradienteicones">subdirectory_arrow_left</i>
                        </div>
                        <h4>Garantia de Regresso</h4>
                        <p>Em caso de falecimento ou doença grave de um familiar direto, a operadora garante o regresso antecipado do segurado ao seu país de origem, conforme Condições Gerais do seguro contratado.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script src="/www/js/vendor/moment-with-locales.min.js"></script>
    <script src="/www/js/vendor/scrollreveal.min.js"></script>
    <script>
        // Scroll Reveal
        window.sr = ScrollReveal({ mobile: false });
        sr.reveal('.info');
    </script>
}
