@{
    ViewBag.Title = "O que é Seguro Viagem | Multi Seguro Viagem";
    ViewBag.MetaDescription = "Afinal, o que é Seguro Viagem? Entenda as coberturas, obrigatoriedades e usos do serviço para viajar tranquilo";
    ViewBag.MetaKeywords = "paises que exigem seguro viagem, o que é seguro viagem, seguro viagem o que é, seguro de viagem, assistência viagem";
    ViewBag.OGURL = "https://multiseguroviagem.com.br/Sobre/oqueeseguroviagem";
    ViewBag.OGTitle = "Multi Seguro Viagem | O que é Seguro Viagem";
    ViewBag.OGSitename = "Multi Seguro Viagem";
    ViewBag.OGImage = "https://multiseguroviagem.com.br/www/img/multiseguroviagem-oque.jpg";
}
<div class="informacoes">
    <div class="page-header header-small gradiente">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="title" id="in-titulo-home">O que é seguro viagem?</h1>
                    <h2 class="title sub-titulo" id="in-titulo-home">Entenda a importância de seu Seguro Viagem</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="description">
                    <div class="text-center margin-top-dez sobre-img" style="margin-top:-100px">
                        <img src="/www/img/aviao.png" alt="O que é Seguro Viagem? - Avião" title="O que é Seguro Viagem? - Avião" />
                    </div>
                    <p>
                        Planejar uma boa viagem vai além de reservar passagens aéreas e hospedagem. Para montar o roteiro ideal, e checar todos os itens necessários, também é preciso uma boa dose de pesquisa e dedicação sobre o destino escolhido, além é claro de contratar alguns serviços especializados, como o <b>seguro viagem</b>. 
                    </p>
                    <p>
                        Diante de tantos itens talvez você se pergunte: “<b>o seguro viagem é mesmo importante?</b>” Bom, apesar de passar despercebido por alguns viajantes, vale lembrar que a falta do seguro pode impactar diretamente em seus planos, principalmente se acontecer algum imprevisto com você no exterior.
                    </p>
                    <p>
                        Já pensou sentir dor de dente em outro país? Ou ter sua <b>bagagem extraviada</b>? Seja para <b>problemas de saúde, atrasos de voos ou cancelamentos, perda ou roubo de bagagens, emergências médicas, perda de documentos</b>, entre outros, a contratação do seguro é indispensável. Viajantes mais experientes e precavidos já sabem da importância desse serviço, e tem aderido aos planos oferecidos pelas operadoras, que sempre oferecem um seguro personalizado para cada tipo de roteiro. Se você nunca utilizou o seguro, fique tranquilo. Aqui, explicaremos em detalhes sobre <b>a importância do seguro viagem</b>. 
                    </p>
                    <h3>Por que o seguro viagem é importante?</h3>
                    <p>
                        <b>O seguro viagem</b> é a modalidade que possibilita assistência completa para viajantes, durante a sua permanência no destino escolhido. A principal vantagem do <b>seguro viagem</b> é minimizar qualquer situação ou imprevisto que você possa ter durante uma viagem, e que fogem do seu controle. Sabia que um simples atendimento médico no exterior pode custar milhares de dólares? É preciso se precaver em todos os sentidos. Seguros mais completos oferecem <b>assistência jurídica, medicamentos, assistência odontológica, repatriação, extensão de internação hospitalar e diárias em hotéis</b>. Para casos mais específicos, algumas coberturas incluem até passagem aérea para familiares.
                    </p>
                    <p>
                        Quanto ao <b>custo do seguro viagem</b>, fique tranquilo: o investimento não chega a 5% do valor total da viagem! É um gasto mínimo perto da tranquilidade que o viajante encontrará, caso surja algum imprevisto. Além disso, há diversas modalidades de <b>planos de seguro viagem</b> que podem ser contratados.
</p>
                    <p>
                        As coberturas também são bastante amplas: vão desde à <b>proteção para riscos de morte acidental do segurado, invalidez total ou parcial, até para despesas médicas, hospitalares, odontológicas, diárias, perda ou roubo de bagagem, danos de malas</b>, entre outros acontecimentos inesperados. Já os planos, podem ser escolhidos de acordo com o tipo de viagem (familiar, negócios, lazer) e <b>valor de cobertura</b>.
                    </p>
                    <p>
                        Se o destino for internacional, as regras são um pouco diferentes. Após a assinatura do <b>Tratado de Schengen</b>, alguns países da Europa passaram a exigir a contratação de um seguro que cubra <b>assistência medica e hospitalar</b> de no mínimo 30 mil euros. O requisito é obrigatório e pode ser exigido a apresentação do comprovante na hora do desembarque.
                    </p>
                    <p>
                        Nos casos de viagens nacionais, apesar de alguns planos de saúde atenderem em todo o Brasil, o seguro viagem pode ajudar no momento de um atendimento médico, por exemplo, ou contratempos como <b>extravio de bagagens</b>. 
                    </p>
                    <img src="/www/img/bussola.png" alt="O que é Seguro Viagem? - Bússola" title="O que é Seguro Viagem? - Bússola" class="pull-left sobre-img" />
                    <h3>Qual a diferença entre Seguro Viagem e Assistência Viagem?</h3>
                    <p>
                        Antigamente, no momento de <b>contratação do seguro viagem</b>, o viajante muitas vezes ficava confuso com as diferentes opções de planos de seguro oferecidas. O mercado disponibilizava <b>planos de Seguro Viagem e Assistência Viagem</b>, comercializados separadamente, por Seguradoras e também por <b>operadoras de Assistência Viagem</b>.
                    </p>
                    <p>
                        O que gerava muitas dúvidas aos viajantes é que, além de existirem as duas opções, a diferença entre os serviços prestados pela seguradora e os serviços das assistências não era clara e, muitas vezes, se confundiam pela extrema semelhança.
                    </p>
                    <p>
                        Para tornar mais claro, é preciso entender que os planos de <b>Seguro Viagem</b> têm, por natureza, características indenizatórias e possuem como coberturas principais a morte ou a invalidez permanente, ocorridos durante a vigência da apólice. Já a <b>Assistência Viagem</b> é um serviço cujo objetivo é assistir o viajante durante sua viagem, com a prestação da <b>assistência médica e hospitalar</b>, através de prestadores de serviços credenciados. Antes, o objetivo da <b>Assistência Viagem</b> não era claramente indenizatória e não considerada então um seguro de fato, mas sim um serviço de assistência, que não era prestado por seguradoras e nem regulamentado por órgãos como a <a href="http://www.susep.gov.br/" target="_blank">SUSEP</a>. 
                    </p>      
                    <p>
                        Ambos os planos tinham como objetivo atender o viajante durante todo o período contratado, porém, como tinham características de coberturas e dinâmicas diferentes, o viajante só percebia depois que não tinha contratado o plano correto para atender suas reais necessidades. Descobriam, por exemplo, que diante de algum procedimento não tinham o direito ao reembolso de despesas médicas, justamente quando mais necessitavam desses serviços.
                    </p>
                    <p>
                        O produto <b>Seguro Viagem</b> padrão, que era oferecido por seguradoras e algumas operadoras de cartão de crédito, não possuíam um plano de assistência agregado. Em casos de imprevistos, o viajante deveria arcar com todas as despesas no momento do ocorrido, e só depois realizar o pedido de reembolso. Nesses casos, o reembolso só acontece quando você chega ao Brasil, e com prazo máximo de até 30 dias para recebimento em moeda nacional. Isso causava alguns transtornos, uma vez que o viajante deveria ter recurso suficiente para pagar suas despesas médicas no exterior. 
                    </p>
                    <p>
                        O Serviço de <b>Assistência Viagem</b>, por sua vez, oferecido pelas Operadoras de Mercado, realiza atendimento aos viajantes em sua <b>rede credenciada</b>. Em caso de imprevistos, o viajante deve acionar primeiro a central de atendimento, não sendo necessário utilizar recursos próprios. Mesmo não havendo <b>rede credenciada</b>, o viajante pode pagar o atendimento e solicitar o reembolso posteriormente no retorno ao Brasil, desde que esteja com a autorização da rede de Assistência. O que pegava muitos viajantes de surpresa era a obrigatoriedade da comunicação com a <b>central de atendimento</b>. Em alguns casos, sem a autorização devida, podia negar um reembolso de despesas.
                    </p>
                    <p>
                        As duas opções tem o objetivo de auxiliar o viajante durante seu período em viagem, porém, pequenas particularidades nos modelos de atendimento acabavam confundindo muito o viajante na contratação.
                    </p>
                    <h3>Como funciona o modelo de Seguro Viagem atual? </h3>
                    <p>
                        A boa notícia é que a Superintendência de Seguros Privados (SUSEP), preocupada com a segurança e bom atendimento dos viajantes, disponibilizou através da Resolução 315, novas regras que visam beneficiar os consumidores do seguro, de forma a organizar a comercialização, preencher esta lacuna do mercado e oferecer mais segurança aos viajantes que pretendem contratar um <b>plano de Seguro Viagem</b>, seja para suas viagens internacionais ou nacionais.
                    </p>
                    <p>
                        Com base na nova resolução da SUSEP, os planos de Seguro Viagem foram organizados e devem conter, obrigatoriamente, as principais coberturas como: <b>Médicas e hospitalares em viagem, doenças pré-existentes</b>, entre outras.
                    </p>
                    <p>
                        Hoje, os <b>Planos de Seguro Viagem</b> possuem coberturas com caráter indenizatório e como complemento também prestam serviço de <b>Assistência Viagem</b>.
                    </p>
                    <h3>Vai utilizar o <b>Seguro Viagem</b> pela primeira vez? Veja algumas dicas!</h3>
                    <p>
                        Antes de contratar um <b>Plano de Seguro Viagem</b>, a orientação aos viajantes que nunca utilizaram esse serviço é verificar, primeiramente, qual seguradora garantirá coberturas indenizatórias e qual é a <b>Operadora de Assistência Viagem</b>, aquela responsável pelo serviço nas coberturas de assistência. Não se esqueça também de contratar seu seguro com um corretor/serviço autorizado, como é o caso da plataforma <b>Multi Seguro Viagem</b>, da <a href="https://bomcotar.com.br" target="_blank">EKTO MULTI SEGURO VIAGEM LTDA</a>. 
                    </p>
                    <p>
                        Para conferir na íntegra a <b>Resolução 315</b>, que regulamenta a operação das Seguradoras e das empresas de Assistência Viagem, <a href="http://www2.susep.gov.br/bibliotecaweb/docOriginal.aspx?tipo=1&codigo=33719" target="_blank">clique aqui</a>. 
                    </p>
                    <div class="text-center margin-top-dez sobre-img">
                        <img src="/www/img/barco.png" alt="O que é Seguro Viagem? - Barco" title="O que é Seguro Viagem? - Barco">
                    </div>
                    <h3>Qual a diferença entre Plano de Seguro Viagem e Seguro Saúde?</h3>
                    <h4>Plano de Seguro Viagem</h4>
                    <p>
                        <b>O Plano de Seguro Viagem</b> oferece diferentes tipos de cobertura, para diferentes situações emergenciais ocorridas durante a vigência do seguro (período de viagem). Este tipo de seguro inclui <b>cobertura médica em caso de emergência</b> e pode ser utilizado em toda rede credenciada à seguradora, com possibilidade de reembolso quando for o caso.
                    </p>
                    <p>
                        No entanto, é preciso efetuar o pagamento na hora da consulta ou pronto-socorro, e solicitar o ressarcimento junto à operadora, somente após o retorno.
                    </p>
                    <p>
                        O principal objetivo do <b>Seguro Viagem</b> é se precaver de fatos não previstos com o intuito de reduzir eventuais prejuízos durante a viagem. 
                    </p>
                    <p>
                        De modo resumido, o <b>plano de Seguro Viagem</b> não tem em seu escopo a realização de tratamentos médicos preventivos, consultas e exames de rotina, ou de interesse do segurado. O seu objetivo é garantir assistência em caso de eventuais emergências, acidentes e imprevistos que venham ocorrer exclusivamente no período da viagem.
                    </p>
                    <img src="/www/img/mala.png" alt="O que é Seguro Viagem? - Mala" title="O que é Seguro Viagem? - Mala" class="pull-right" />
                    <h4>Seguro Saúde</h4>
                    <p>
                        O <b>Seguro Saúde</b>, por sua vez, tem uma característica relacionada à <b>Assistência Médica</b>, incluindo a prevenção e tratamento de doenças, além de consultas e exames de rotina que não fazem parte do rol de <b>atendimento do Seguro Viagem</b>. O foco principal deste serviço está na saúde do segurado, independente do mesmo estar viajando. Por isso, suas coberturas são exclusivamente relacionadas à saúde, excluindo-se coberturas como <b>perda de bagagem</b> por exemplo.
                    </p>
                    <p>
                        Uma das grandes <b>diferenças entre o Seguro Saúde e o Seguro Viagem</b> é que normalmente os planos de <b>Seguro Saúde</b> não são contratados por curtos períodos, como no caso do <b>Seguro Viagem</b>, que se limita somente ao período de viagem.
                    </p>
                    <p>
                        A contratação do <b>Seguro Saúde</b> é recomendada para pessoas que vão passar um grande período no exterior, já que sua contratação possui vigência usual de 12 meses. Para viagens de curto período, a necessidade dos viajantes passa a ser o atendimento emergencial para imprevistos, e não a realização de consultas médicas ou tratamento de doenças.
                    </p>
                    <p>
                        Além disso, o <b>custo de um Seguro Saúde</b> com cobertura internacional é bastante elevado, podendo chegar a 10 vezes o valor de um Seguro Viagem para o mesmo período, o que acaba limitando bastante o público que consegue ter acesso ao produto.
                    </p>
                    <img src="/www/img/barco2.png" alt="O que é Seguro Viagem? - Barquinho" title="O que é Seguro Viagem? - Barquinho" class="pull-left sobre-img" />
                    <h3>Cuidados ao contratar um Seguro Viagem</h3>
                    <p>
                        Se você possui uma doença crônica, o cuidado na hora da contratação do seguro precisa ser redobrado, já que a escolha do plano deve ser analisada para cobertura de doença preexistente.
                    </p>
                    <p>
                        Em países onde os tratamentos médicos podem ser mais caros, como os Estados Unidos, por exemplo, é melhor optar por planos com valores de coberturas maiores e mais completos, adequando o investimento da contratação com a necessidade do viajante.
                    </p>
                    <p>
                        Em caso de dúvidas, vale pesquisar os custos de alguns procedimentos médicos, intervenção cirúrgica ou até mesmo o valor de uma diária em um hotel, no país de destino.
                    </p>
                    <p>
                        O <b>seguro viagem gestante</b> é outro produto indispensável para as grávidas de plantão, uma vez que oferece atendimento para exames e ultrassonografias de emergência, cobertura para abortos espontâneos ou acidentais, partos de emergência e na ocorrência de partos prematuros. Mas atenção: as seguradoras estabelecem um prazo limite que geralmente vai até o 6º mês, principalmente para viagens internacionais. Reforçamos também que nos planos de <b>Seguro Viagem</b>, exames e atendimentos de rotina não estão cobertos.
                    </p>
                    <p>
                        Outro detalhe importante está na prática de esportes radicais ou esportes na neve. Alguns seguros e assistências não cobrem acidentes esportivos em suas categorias básicas. É importante se atentar para adquirir um plano que possua a cobertura necessária ou que seja possível incluir essa cobertura adicional, por um custo extra.
                    </p>
                    <p>
                        Pretende contratar um <b>Plano de Seguro Viagem</b>? Verifique qual Seguradora garantirá as coberturas indenizatórias, e qual <b>Operadora de Assistência Viagem</b> prestará o serviço nas coberturas de Assistência. Além disso, não se esqueça de contratar o Seguro sempre com um Corretor autorizado a atuar no mercado, como a <b>Multi Seguro Viagem</b> e a <a href="https://bomcotar.com">EKTO MULTI SEGURO VIAGEM LTDA</a>.
                    </p>
                    <img src="/www/img/seguro.png" alt="O que é Seguro Viagem? - Seguro" title="O que é Seguro Viagem? - Seguro" class="pull-right sobre-img"/>
                    <h3>
                        Países que exigem a contratação do Seguro Viagem
                    </h3>
                    <p>
                        Se você ainda não sabe quais destinos <b>exigem a contratação do seguro viagem</b> com valor mínimo, confira alguns países em que o requisito é obrigatório.
                    </p>
                    <p>
                        27 países do Tratado de Schengen: Alemanha, Áustria, Bélgica, Dinamarca, Eslováquia, Eslovênia, Espanha, Estônia, Finlândia, França, Grécia, Holanda, Hungria, Islândia, Itália, Letônia, Liechtenstein, Lituânia, Luxemburgo, Malta, Noruega, Polônia, Portugal, República Tcheca, Suécia e Suíça.).
                    </p>
                    <p>
                        Países que exigem a apresentação do certificado do <b>Seguro Viagem</b> na hora do desembarque: Países árabes (Emirados Árabes Unidos, Qatar e Turquia) e Cuba.
                    </p>
                    <p>
                        Agora você já sabe: antes de embarcar, considere no seu checklist a <b>contratação de um seguro viagem</b>. Lembre-se de falar com um corretor especializado para evitar imprevistos e Boa Viagem!
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script src="/www/js/vendor/moment-with-locales.min.js"></script>
    <script src="/www/js/vendor/scrollreveal.min.js"></script>
    <script>
        // Scroll Reveal
        window.sr = ScrollReveal({ mobile: false });
        sr.reveal('.title', 200);
    </script>
}