@{
    ViewBag.Title = "Política de Privacidade | Multi Seguro Viagem";
}
<div class="informacoes">
    <div class="page-header header-small gradiente" data-parallax="true">
        <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h1 class="title" id="in-titulo-home">Política de Privacidade</h1>
                        <h2 class="title sub-titulo" id="in-titulo-home">Entenda como tratamos os dados cadastrados em nosso site.</h2>
                    </div>
                </div>
            
            </div>
        </div>

    <div class="main main-raised">
            <div class="container">
                <div class="col-md-10 col-md-offset-1">
                    <div class="description">
                        <p>
                            Este documento faz parte de um conjunto de ações que a Multi Seguro Viagem estabeleceu com o objetivo de respeitar e preservar o direito ao sigilo de identidade de cada cliente.
                        </p>
                        <p>
                            O site Multi Seguro Viagem é identificado, neste documento, de duas formas:
                        </p>
                        <p>
                        </p><ul>
                            <li>Como: www.multiseguroviagem.com.br</li>
                            <li>Ou, site</li>
                        </ul>
                        <p></p>
                        <p>
                            A presente Política de Privacidade e Segurança de Dados do www.multiseguroviagem.com.br contém diretrizes e informações da forma que a Multi Seguro Viagem trata e protege as informações capturadas por meio de seu site, e será regida pelas condições abaixo especificadas:
                        </p>
                        <h3>
                            Glossário
                        </h3>
                        <p>
                            Consumidor/usuários são todas as pessoas que usam os produtos e/ou serviços oferecidos pelo www.multiseguroviagem.com.br, pagos ou não. Por ser este serviço oferecido como ferramenta virtual, os consumidores/usuários, são entendidos como “internautas”.
                        </p>
                        <p>
                            Cookie é um arquivo-texto enviado pelo servidor da Multi Seguro Viagem para o computador do internauta seja identificado, personalizando os acessos do mesmo e, obtendo dados de acesso, como páginas navegadas ou link's clicados. Um cookie é atribuído individualmente a cada computador, ele não pode ser usado para executar programas nem infectar computadores com vírus, e pode ser lido apenas pelo servidor que o enviou.
                        </p>
                        <p>
                            Criptografia é a nomenclatura do processo de codificação de informações. As informações são codificadas (embaralhadas) na origem e decodificadas no destino, dificultando, dessa forma, que as informações que trafegam na internet sejam decifradas.
                        </p>
                        <p>
                            Identificação individual é toda informação que não está disponível para o público em geral, e que, se divulgada, possa vir a causar algum tipo de constrangimento moral, danos ou prejuízos à própria pessoa ou à empresa a qual pertence. São exemplos de dados de identificação individual os nºs de CPF ou CNPJ, fornecidos para contato e dados sobre cobrança.
                        </p>
                        <p>
                            Parceiro é toda pessoa física, ou jurídica, que mantém vínculo de contratante da Multi Seguro Viagem, disponibilizando no www.multiseguroviagem.com.br produtos/serviços.
                        </p>
                        <h3>
                            Compromisso Multi Seguro Viagem
                        </h3>
                        <p>
                            A Multi Seguro Viagem está comprometida em coletar em seu site, apenas, as informações sobre identificação individual necessárias à viabilização de seus negócios e ao fornecimento de produtos e/ou serviços solicitados por seus usuários.
                        </p>
                        <p>
                            Os usuários/consumidores cadastrados no sistema, automaticamente autorizam o recebimento de material informativo promocional, com a possibilidade de cancelar o recebimento a qualquer momento;
                        </p>
                        <p>
                            Os cookies serão utilizados apenas para controlar a audiência e a navegação em seu site;
                        </p>
                        <p>
                            A Multi Seguro Viagem compromete-se a cumprir rigorosamente todas as determinações desta Política de Privacidade e Segurança de Dados.
                        </p>
                        <h3>
                            Privacidade de Dados / Captura de Dados
                        </h3>
                        <p>
                            Ao se cadastrar, navegar ou solicitar produtos ou serviços do www.multiseguroviagem.com.br, em algumas ações específicas, serão requisitadas informações sobre:
                        </p>
                        <p>
                        </p><ul class="fa-ul">
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Política de Privacidade</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Identificação individual do cliente;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Preferências do cliente;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Opiniões do internauta;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Acesso do internauta (exemplo: data e horário de realização do acesso);</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Perfil de acesso do internauta (exemplo: links clicados, páginas visitadas).</li>
                        </ul>
                        <p></p>
                        <p>
                            Utilização de Dados
                        </p>
                        <p>
                        </p><ul class="fa-ul">
                            <li><i class="fa-li fa fa-dot-circle-o"></i> As informações capturadas por meio do www.multiseguroviagem.com.br são utilizadas pela empresa com a finalidade de:</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Permitir aos internautas navegar ou realizar as operações disponibilizadas no site;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Viabilizar o fornecimento de produtos ou serviços solicitados no site;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Identificar o perfil e a necessidades dos internautas, a fim de aprimorar os produtos e/ou serviços oferecidos pela empresa;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Realizar estatísticas genéricas;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Enviar informativos sobre produtos ou serviços que interessem aos seus clientes;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Fornecer as informações aos parceiros;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Divulgar alterações, inovações ou promoções sobre os produtos e serviços da Multi Seguro Viagem e de seus parceiros.</li>
                        </ul>
                        <p></p>
                        <h3>
                            Divulgação de Dados
                        </h3>
                        <p>
                            Multi Seguro Viagem não fornece a terceiros, além de seus parceiros, dados sobre a identificação individual de internautas, sem seu prévio consentimento. Excetuam-se os casos em que:
                        </p>
                        <p>
                        </p><ul class="fa-ul">
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Exista determinação judicial para fornecimento de dados;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> O internauta/usuário deste site autorize esta divulgação quando participar de alguma Promoção onde seja solicitada sua concordância com esta divulgação;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> A viabilização dos negócios, produtos ou serviços oferecidos pela Multi Seguro Viagem dependa do repasse de dados a parceiros. Somente serão repassadas informações estritamente necessárias aos parceiros;</li>
                            <li><i class="fa-li fa fa-dot-circle-o"></i> Exista a necessidade de identificar ou revelar dados do internauta que esteja utilizando o site com propósitos ilícitos a fim de apuração de responsabilidade civil e criminal deste usuário;</li>
                        </ul>
                        <p></p>
                        <p>
                            Nos demais casos, sempre que houver necessidade ou interesse em repassar a terceiros dados de identificação individual dos internautas, a Multi Seguro Viagem lhes solicitará autorização prévia.
                        </p>
                        <p>
                            Informações que não sejam de identificação individual (como demográficas, por exemplo) poderão ser repassadas a anunciantes, fornecedores, patrocinadores e parceiros, com o objetivo de melhorar a qualidade dos produtos e serviços oferecidos pela Multi Seguro Viagem.
                        </p>
                        <p>
                            Aos terceiros que, porventura, receberem da Multi Seguro Viagem informações, de qualquer natureza, sobre os internautas que acessam este site cabe, igualmente, a responsabilidade de zelar pelo sigilo e segurança das referidas informações, de acordo com o Termo de Uso firmado entre a Multi Seguro Viagem e parceiros.
                        </p>
                        <h3>
                            Garantia de Privacidade
                        </h3>
                        <p>
                            É possível acessar sites e portais de outras empresas a partir do site www.multiseguroviagem.com.br, sendo que cada portal e empresa possui políticas próprias para garantir o sigilo e a proteção de dados. Dessa forma, ressaltamos que esta Política se aplica apenas ao site da Multi Seguro Viagem, cabendo exclusivamente ao internauta a responsabilidade de se informar sobre as políticas para preservação e proteção vigentes para os demais sites.
                        </p>
                        <p>
                            A Multi Seguro Viagem se empenha expressivamente para prover segurança e sigilo das informações que capta. Contudo, para que as medidas adotadas tenham eficácia, faz-se necessário que cada internauta também tenha atitude responsável, sendo cuidadoso com os dados de sua identificação individual sempre que acessar a internet, informando-os somente em operações em que exista a proteção de dados, nunca divulgando sua identificação de usuário e sempre desconectando a conta do www.multiseguroviagem.com.br tão logo deixe de acessá-la, principalmente se dividir o computador com outra pessoa.
                        </p>
                        <h3>
                            Segurança e Proteção de Dados
                        </h3>
                        <p>
                            As transações efetuadas para escolha da forma e efetivação do cadastro, independente da forma escolhida, são realizadas em ambiente seguro e certificado por empresa especializada em segurança de dados para a internet. Todas as informações necessárias à realização do cadastro são criptografadas. O ícone "Cadeado Fechado", localizado na barra de status (parte inferior do monitor), é o indicativo de que as informações transacionadas serão criptografadas. Na eventual substituição manual da formatação HTTPS para HTTP, o usuário passará utilizar o site sem formato criptografado, assumindo todas responsabilidades e riscos.
                        </p>
                        <p>
                            Em alguns pontos do site www.multiseguroviagem.com.br são coletadas informações de identificação individual e/ou cadastrais (como nome completo ou razão social, endereço, telefones) necessárias à navegação ou utilização dos serviços disponíveis. Como medida de proteção, as informações de identificação individual e/ou cadastral, coletadas pelo www.multiseguroviagem.com.br, passam por processo de criptografia antes de ser transmitidas pela internet.
                        </p>
                        <p>
                            As informações passam por processo de criptografia em todas as páginas de coleta de dados e nas áreas seguras do site onde um usuário e senha são solicitados.
                        </p>
                        <p>
                            As informações identificáveis, coletadas pelo Multi Seguro Viagem, são manipuladas apenas por pessoal autorizado.
                        </p>
                        <p>
                            As operações realizadas no www.multiseguroviagem.com.br por um usuário, bem como as informações associadas a estas operações, são exclusivas e só podem ser acessadas por este usuário.
                        </p>
                        <h3>
                           Identificação do Usuário
                        </h3>
                        <p>
                            Ao se cadastrar no www.multiseguroviagem.com.br para aquisição de produtos ou serviços (pagos ou não) oferecidos no site, cada usuário recebe uma identificação única; identificação esta que passa a ser requerida e autenticada nos demais acessos ao site, sendo certo que, essa identificação, para os fins de direito, serve como assinatura de concordância com qualquer proposta feita neste site.
                        </p>
                        <p>
                            A identificação de usuário é exclusiva, intransferível e criptografada para ser transmitida ao servidor da Multi Seguro Viagem, sendo a senha armazenada em banco de dados na sua forma criptografada de maneira irreversível.
                        </p>
                        <h3>
                            Alterações na Política
                        </h3>
                        <p>
                            A Multi Seguro Viagem poderá alterar esta política de privacidade e segurança de dados a qualquer momento.
                        </p>
                        <p>
                            Toda alteração na presente Política de Privacidade e Segurança de Dados será veiculada no endereço: www.multiseguroviagem.com.br/seguroviagem/politica-privacidade.
                        </p>
                        <p>
                            Portanto, solicitamos a leitura periódica desta Política como meio de se cientificar sobre a forma que a Multi Seguro Viagem coleta, trata e protege as suas informações.
                        </p>
                        <p>
                            Em caso de dúvidas sobre a Política de Privacidade do site da Multi Seguro Viagem, contate-nos através do suporte on line.
                        </p>

                    </div>
                </div>
            </div>
        
    </div>
</div>
@section Scripts
{
    <script src="/www/js/vendor/moment-with-locales.min.js"></script>
    <script src="/www/js/vendor/scrollreveal.min.js"></script>
    <script>
        // Scroll Reveal
        window.sr = ScrollReveal({ mobile: false });
        sr.reveal('.title', 200);
    </script>
}