@{
    ViewBag.Title = "Tratado de Schengen | Multi Seguro Viagem";
    ViewBag.MetaDescription = "Saiba mais sobre o Tratado de Schengen, que torna obrigatório o Seguro Viagem em diversos países da Europaem";
    ViewBag.MetaKeywords = "paises que exigem seguro viagem, Tratado de Schengen, o que é seguro viagem, seguro viagem o que é, seguro de viagem, assistência viagem";
    ViewBag.OGURL = "https://multiseguroviagem.com.br/Sobre/tratadodeschengen";
    ViewBag.OGTitle = "Multi Seguro Viagem | Tratado de Schengen";
    ViewBag.OGSitename = "Multi Seguro Viagem";
}
<div class="informacoes">
    <div class="page-header header-small gradiente">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="title" id="in-titulo-home">Tratado de Schengen</h1>
                    <h2 class="title sub-titulo" id="in-titulo-home">Saiba mais sobre os países da Europa que exigem o Seguro Viagem</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="description">
                    <p>
                        O <b>Tratado de Schengen</b>, existente há 30 anos, é um acordo entre alguns países europeus sobre a política de abertura de fronteiras para livre circulação de turistas e estudantes.
                    </p>
                    <p>
                        Portanto, se você está pensando em realizar um <b>intercâmbio ou viagem para a Europa</b>, é importante saber quais são os países que fazem parte do <b>Tratado de Schengen</b> e quais são as exigências para o desembarque nestes países.
                    </p>
                    <img src="/www/img/bolsa.png" alt="Tratado de Schengen - Bolsa" title="Tratado de Schengen - Bolsa" class="pull-left sobre-img"/>
                    <h3>Surgimento do Tratado de Schengen</h3>
                    <p>
                        O acordo foi firmado em 14 de junho de 1985 entre países europeus, em Luxemburgo, na pequena cidade de Schengen, e seu intuito era justamente instituir a livre circulação de pessoas entre os estados que formavam a <b>União Européia</b>. No início, a permissão foi dada apenas aos cidadãos europeus, e os primeiros países a adotarem a nova política foram França, Alemanha, Bélgica, Luxemburgo e Países Baixos.
                    </p>
                    <p>
                        As regras incluíam a concessão de vistos para estadias de curta duração, para os pedidos de asilo, no controle das fronteiras e na cooperação entre autoridades judiciais.
                    </p>
                    <p>
                        Mas foi em 1997 que o <b>Tratado de Schengen</b> foi integrado formalmente à União Européia e hoje, cerca de 27 países adotam o acordo, assim como as suas regras. Dentre eles estão: Alemanha, Áustria, Bélgica, Dinamarca, Eslováquia, Eslovênia, Espanha, Estônia, Finlândia, França, Grécia, Holanda, Hungria, Islândia, Itália, Letônia, Liechtenstein, Lituânia, Luxemburgo, Malta, Noruega, Polônia, Portugal, República Tcheca, Suécia e Suíça.
                    </p>
                    <p>
                        Mas atenção: apesar do <b>Acordo de Schengen</b> abranger vários países da Europa, a Inglaterra e Irlanda não fazem parte do tratado de Schengen. A Inglaterra faz parte do Reino Unido e, por isso, possui regras próprias para a entrada no país. O turista pode solicitar o visto de permanência temporária de entrada da Inglaterra, que geralmente é de até 6 meses. Já para a Irlanda, o visto de permanência é de até 90 dias.
                    </p>
                    <img src="/www/img/hotel.png" alt="Tratado de Schengen - Hotel" title="Tratado de Schengen - Hotel" class="pull-right sobre-img" />
                    <h3>Desembarque</h3>
                    <p>
                        A viagem para os destinos que fazem parte do <b>acordo de Schengen</b> não exige a emissão de visto para os brasileiros, devido a um acordo com o país. No entanto, há algumas regras para a permanência no local: é permitido apenas para um período máximo de até 90 dias consecutivos após o desembarque em um dos territórios <b>Schengen</b>. Para o período de permanência superior ao estabelecido, é necessário que o turista ou estudante espere, ou retorne no mínimo após 3 meses para as áreas que fazem parte do Tratado.
                    </p>
                    <p>
                        Caso o turista retorne ao país de origem, antes da data estabelecida, é possível voltar à área <b>Schengen</b> e permanecer no local, até a expiração do prazo.
                    </p>
                    <p>
                        Ao chegar a um daqueles países, ainda no aeroporto, é preciso justificar o motivo da visita para o oficial da <b>imigração</b> e apresentar os documentos que comprovem a sua estadia: <b>reserva da acomodação, curso, passagem aérea com data de volta</b>, comprovação que você tem dinheiro suficiente para o período da visita, através de moeda em espécie, cartão de crédito e/ou cartão de débito e o <b>certificado de um seguro viagem</b>, de acordo com as normas exigidas.
                    </p>
                    <h3>Visto Schengen</h3>
                    <p>
                        Nos casos em que a permanência nos países seja superior ao período estabelecido é necessário a <b>emissão de um visto</b>. Geralmente, esta regra é aplicada para <b>viagens a trabalho ou intercâmbio</b>. A duração do visto, então, vai depender do tempo de permanência no país ou de acordo com a necessidade solicitada.
                    </p>
                    <p>
                        Para isto, é necessário ir ao Consulado ou Embaixada do país em que você ficará residente, e levar os seguintes documentos:
                    </p>
                    <ul>
                        <li><b>Seguro viagem</b> com <b>cobertura de no mínimo</b> 30 mil euros;</li>
                        <li>Passaporte original;</li>
                        <li>Comprovante de passagem aérea;</li>
                        <li>Reservas de hospedagem ou carta-convite: nos casos de estadia em casas de amigos.</li>
                        <li>Comprovante de situação financeira: geralmente o extrato bancário dos últimos seis meses é o suficiente para justificar a renda suficiente para permanência no local. Para os estudantes que não possuem renda, a comprovação pode ser por meio de uma declaração oficial garantindo que outra pessoa se responsabiliza pelo seu sustento durante o período de estadia.</li>
                        <li>Formulário de aplicação de visto <b>Schengen</b> preenchido e com foto 3x4 recente;</li>
                    </ul>
                    <img src="/www/img/mapa.png" alt="Tratado de Schengen - Mapa" title="Tratado de Schengen - Mapa" class="pull-left sobre-img" />
                    <h3>Seguro Viagem na Europa</h3>
                    <p>
                        Para a entrada nos países que fazem parte do <b>Tratado de Schengen</b>, um dos itens obrigatórios é a contratação de um <b>Seguro Viagem</b>. No entanto, algumas regras devem ser seguidas, a partir das normas do acordo. A lei que exige o <b>Seguro Viagem</b> está apoiada pelo Regulamento (CE) n.º 810/2009, do Parlamento Europeu e do Conselho, em vigor desde 05 de abril de 2010.
                    </p>
                    <p>
                        A apólice do <b>seguro viagem</b> deve ter a <b>cobertura mínima de até 30 mil euros ou 50 mil dólares</b> e garantir <b>assistência médica internacional </b>emergencial para doenças ou imprevistos durante a viagem, como a <b>perda de bagagens, documentos, acidentes pessoais ou até mesmo nos casos de repatriação funerária</b>.
                    </p>
                    <p>
                        Portanto, se um turista estrangeiro embarcar para a Europa sem a <b>apólice do seguro viagem</b>, saiba que pode ser barrado no aeroporto de destino, e deportado para o país de origem.
                    </p>
                    <p>
                        O valor estipulado é válido para todos os países pertencentes ao Acordo, com exceção da Irlanda que não exige o <b>valor mínimo na contratação do seguro viagem</b>.
                    </p>
                    <p>
                        A maior parte dos países da Europa exige o <b>Seguro viagem</b>, porque não oferecem atendimento gratuito na área da saúde para os estrangeiros. As consultas particulares costumam ter um alto valor, o que é reembolsado posteriormente, com aquisição da apólice.
                    </p>
                    <p>
                        Se a viagem englobar a <b>locação de veículo</b>, é preciso estar atento com as regras de cobertura para acidentes que possam ferir a terceiros. A mesma regra vale nos casos de turistas com doenças preexistentes, com a contratação de um <b>seguro viagem</b> que cubra as despesas médicas, em casos de crises.
                    </p>
                    <p>
                        Para acionar o seguro basta estar com apólice em mãos, e seguir o passo a passo. Além disso, ligar para o número de telefone indicado, para que você possa contatar o representante no país onde você se encontra.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script src="/www/js/vendor/moment-with-locales.min.js"></script>
    <script src="/www/js/vendor/scrollreveal.min.js"></script>
    <script>
        // Scroll Reveal
        window.sr = ScrollReveal({ mobile: false });
        sr.reveal('.title', 200);
    </script>
}