<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="intevaloConsulta" value="600000"></add>
    <add key="emailConciliacao" value="financeiro@cenariocapital.com.br"></add>
    <add key="emailPausaServico" value="desenvolvimento@cenariocapital.com.br;financeiro@cenariocapital.com.br"></add>
    <add key="rdStationIdentificador" value="c91082e47a2f15a1ebb9f5b720c38e22"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <!-- PROD -->
    <add name="MultiSeguro" connectionString="Server=node7958-cenariocapital-multi.jelastic.saveincloud.net;port=11094;Database=multiSeguroViagem;Uid=multiseguro;Pwd=8y6raFEXWqqHta9c;" providerName="System.Data.SqlClient"/>
    <add name="MongoDB" connectionString="mongodb://MultiSeguroViagem:8y6raFEXWqqHta9c@node8427-cenariocapital-multi.jelastic.saveincloud.net:11173/MultiSeguroViagem"/> 
    <!-- HOM 
    <add name="MultiSeguro" connectionString="Server=191.243.199.201;port=3306;Database=multiSeguroViagem;Uid=cenariocapital;Pwd=Exito#2017;" providerName="System.Data.SqlClient" />
    <add name="MongoDB" connectionString="mongodb://MultiSeguroViagem:Exito#2017@node6953-cenariocapital-homologacao.jelastic.saveincloud.net:11035/MultiSeguroViagem" />
  -->
  </connectionStrings>
</configuration>
