@{
    ViewBag.Title = "Seguro Viagem FLYCARD com até 65% OFF - Só aqui na Multi";
    ViewBag.MetaDescription = "Somos Agentes Oficiais da FLY CARD: Cote, Compare e Decida Aqui. Melhor Condição do Mercado.Parcele em 6x s/Juros ou Com Desconto no Boleto.";
    ViewBag.MetaKeywords = "seguro viagem, fly card, flycard, operadora seguro viagem, seguro de viagem, cotação seguro viagem, seguro internacional, assistência viagem";
    ViewBag.OGURL = "https://multiseguroviagem.com.br/Operadoras/Flycard";
    ViewBag.OGTitle = "Seguro viagem Flycard | Multi Seguro Viagem";
    ViewBag.OGSitename = "Multi Seguro Viagem";
    ViewBag.OGImage = "https://multiseguroviagem.com.br/www/img/multiseguroviagem.jpg";
}
<div class="operadoras-pag">
    <div class="page-header header-small gradiente" data-parallax="true">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="title" id="in-titulo-home">Seguro viagem Flycard</h1>
                    <h2 class="title sub-titulo" id="in-titulo-home">Planos, preços e coberturas do seguro viagem Flycard</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="col-md-4 col-md-push-8" id="rightCol">
                <div class="card" id="sidebar">
                    <div class="card-content">
                        <div>
                            <h3 class="h4">Cote seu seguro viagem com a <b>Flycard</b></h3>
                        </div>
                        @{ Html.RenderPartial("HomePromocao/_Operadora"); }
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <div class="description">
                    <img class="img img-raised" alt="Logo do Seguro Viagem Flycard - Multi Seguro Viagem" title="Seguro Viagem Flycard - Multi Seguro Viagem" src="/www/img/operadoras/hq/flycard.png" />
                    <br /><br />
                    <p>
                        A Fly Card é uma empresa mundial que se destaca no mercado quando o assunto é <b>seguro de viagem internacional</b> e <b>seguro de viagem nacional</b>. São diversas opções de planos para todos os tipos de viagem, com atendimento especializado aos clientes, 24 horas e totalmente em português.
</p>
                    <p>
                        Busca mais cobertura? Seus planos oferecem: assistência médica em casos de acidentes e doenças, localização de bagagens, reserva em restaurantes, auxilio na documentação, assistência farmacêutica, odontológica, entre outros imprevistos.
                    </p>
                    <p>
                        O objetivo da <b>Fly Card</b> é ampliar seus negócios e atender cada vez mais viajantes ao redor do mundo. Para isso, está constantemente se atualizando e aprimorando seu atendimento. Hoje, já são mais de 40 centrais de atendimento, presentes nos cinco continentes, com mais de 13 anos de experiência no mercado.
                    </p>
                    <h3>
                        Sobre o Seguro Viagem Flycard
                    </h3>
                    <p>
                        No mercado de seguros para viagem há 15 anos, a <b>Fly Card Seguro Viagem</b> busca auxiliar os viajantes a superar problemas e imprevistos que possam acontecer durante sua viagem. A empresa está sempre atualizada para oferecer os melhores planos para todos os tipos de viagens (desde as voltadas para lazer, até as viagens de negócios e estudos). 
                    </p>
                    <p>
                        Assim, o viajante pode garantir uma viagem segura, sem se preocupar com imprevistos. 
                    </p>
                    <h3>
                        Planos e Coberturas do Seguro Viagem Flycard
                    </h3>
                    <p>
                        Aqui você pode conferir todos os planos da Flycard com os quais a <b>Multi Seguro Viagem</b> trabalha, e algumas de suas coberturas. Uma delas foi feita especialmente para sua viagem  :)
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Plano</th>
                                <th>Assistência Médica</th>
                                <th>Perda de bagagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Max International</td>
                                <td>US$ 50.000,00</td>
                                <td>US$ 2.500,00</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content content-primary">
                                <h5 class="category-social">
                                    <i class="fa fa-newspaper-o"></i> Blog da Multi
                                </h5>
                                <h4 class="card-title">
                                    <a href="https://blog.multiseguroviagem.com.br/operadoras-de-seguro-viagem/flycard/">Leia sobre a Flycard e muito mais em nosso blog!</a>
                                </h4>
                                <p class="card-description">
                                    Uma seleção de conteúdos feitos para viajantes exigentes. Saiba tudo sobre viagens, assistências e seguros em nosso blog!
                                </p>
                                <div class="footer text-center">
                                    <a href="https://blog.multiseguroviagem.com.br/operadoras-de-seguro-viagem/flycard/" target="_blank" class="btn btn-white btn-round">Ir para o blog</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-content content-rose">
                                <h5 class="category-social">
                                    <i class="fa fa-external-link-square" aria-hidden="true"></i> A Operadora
                                </h5>
                                <h4 class="card-title">
                                    <a href="#pablo">Visite o Site</a>
                                </h4>
                                <p class="card-description">
                                    Saiba mais informações no site da Flycard. Leia notícias, informações e conheça um pouco mais sobre uma das maiores operadoras do Brasil.
                                </p>
                                <div class="footer text-center">
                                    <a href="http://flycard.com" target="_blank" class="btn btn-white btn-round">Ir para a Flycard</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-content content-success">
                                <h5 class="category-social">
                                    <i class="fa fa-smile-o" aria-hidden="true"></i> Reclame Aqui
                                </h5>
                                <h4 class="card-title">
                                    <a href="#pablo">Leia comentários e reclamações</a>
                                </h4>
                                <p class="card-description">
                                    Veja as reclamações, comentários e respostas da Flycard no Reclama Aqui
                                </p>
                                <div class="footer text-center">
                                    <a href="https://www.reclameaqui.com.br/empresa/flycard-corretora-de-seguros/" target="_blank" class="btn btn-white btn-round">Ir para o Reclame Aqui</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>
                            A FlyCard Seguro Viagem é totalmente alinhada às exigências da <a href="http://www.susep.gov.br/" target="_blank">SUSEP (Superintendência de Seguros Privados)</a>, garantindo todos os direitos dos viajantes.
                        </p>
                        <p>
                            Montando seu próximo roteiro? Descubra os planos da FlyCard e aproveite o melhor da sua viagem.
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
      <script src="/www/js/vendor/jquery.bxslider.min.js"></script>
      <script src="/www/js/vendor/moment-with-locales.min.js"></script>
      <script src="/www/js/vendor/scrollreveal.min.js"></script>
      <script src="/www/js/vendor/date-input-polyfill.dist.js"></script>
      <script src="/www/js/vendor/bootstrap-datetimepicker.js"></script>
      <script src="/www/js/custom-validations.js"></script>
    }
    else
    {
      <script src="/www/bundles/bundleVendorIndex.js"></script>
      <script src="/www/bundles/bundleIndex.js"></script>
      <script async defer src="/www/js/modulos/afiliaceTrackerOffer.js"></script>
    }

    <link href="/www/css/seo.css" rel="stylesheet" />
    <script>
        // Scroll Reveal


        var $body   = $(document.body);
        var navHeight = $('.navbar').outerHeight(true) + 10;

        $('#sidebar').affix({
                offset: {
                top: 150,
                bottom: 400
                }
        });

        $body.scrollspy({
	        target: '#rightCol',
	        offset: navHeight
        });

        $('#sidebar').width($('#sidebar').parent().width());
    </script>
}