@{
    ViewBag.Title = "Seguro Viagem GTA | Até 65% OFF no melhor comparador";
    ViewBag.MetaDescription = "Somos Agentes Oficiais da GTA ASSIST (Global Travel Assistance): Cote e Compare Aqui. Melhor Condição do Mercado.Parcele em 6x s/Juros ou Com Desconto no Boleto.";
    ViewBag.MetaKeywords = "seguro viagem, gta, operadora seguro viagem, seguro de viagem, cotação seguro viagem, seguro internacional, assistência viagem";
    ViewBag.OGURL = "https://multiseguroviagem.com.br/Operadoras/GTA";
    ViewBag.OGTitle = "Seguro Viagem GTA - Global Travel Assistance";
    ViewBag.OGSitename = "Multi Seguro Viagem";
    ViewBag.OGImage = "https://multiseguroviagem.com.br/www/img/multiseguroviagem.jpg";
}
<div class="operadoras-pag">
    <div class="page-header header-small gradiente" data-parallax="true">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="title" id="in-titulo-home">Seguro Viagem GTA - Global Travel Assistance</h1>
                    <h2 class="title sub-titulo" id="in-titulo-home">Planos, preços e coberturas do seguro viagem GTA</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="col-md-4 col-md-push-8" id="rightCol">
                <div class="card" id="sidebar">
                    <div class="card-content">
                        <div>
                            <h3 class="h4">Cote seu seguro viagem com a <b>GTA</b></h3>
                        </div>
                        @{ Html.RenderPartial("HomePromocao/_Operadora"); }
                  </div>
                </div>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <div class="description">
                    <img class="img img-raised" alt="Seguro Viagem GTA - Global Travel Assistance" title="Seguro Viagem GTA - Multi Seguro Viagem" src="/www/img/operadoras/hq/gta.png" />
                    <br /><br />
                    <p>
                        A <strong>GTA Seguro Viagem</strong> é especialista em viagens internacionais e oferece planos de seguro viagem para todos os tipos de roteiro. Precisou de atendimento urgente no exterior? Com a GTA, você será prontamente atendido e receberá todas as informações que necessita. São mais de 3.000 profissionais bilíngues e trilíngues, prontos para te ajudar em qualquer situação.
                    </p>
                    <p>
                        Com foco total na qualidade dos serviços, a <strong>Global Travel Assistance</strong> apresenta equipe especializada em 22 cidades brasileiras e uma plataforma de atendimento mundial, que funciona 24 horas por dia, 365 dias do ano. São mais de 1 milhão de turistas anualmente, totalmente satisfeitos! Para garantir o melhor atendimento, possui aproximadamente 530 linhas telefônicas com capacidade para até 95000 chamadas por hora.
</p>
                    <p>
                        Se você procura uma operadora com quem contar 24 horas, essa é a <strong>Global Travel Assistance</strong>!
                    </p>
                    <h3>
                        Sobre o Seguro Viagem GTA - Global Travel Assistance
                    </h3>
                    <p>
                        Presente há 25 anos no mercado, o <b>Seguro Viagem GTA</b> atende mais de 1 milhão de turistas por ano e toda a sua distribuição é feita por agentes de viagens. Em 2016, a organização recebeu o Prêmio Top Aviesp como a melhor empresa de assistência do Brasil, pelo nono ano consecutivo.
                    </p>
                    <p>
                        Sua marca é conseguir a satisfação plena de seus clientes, com planos para atender a todos os tipos de viagens!
                    </p>
                    <h3>
                        Planos e Coberturas do Seguro Viagem GTA   
                    </h3>
                    <p>
                        Aqui você pode conferir todos os planos da GTA com os quais a <b>Multi Seguro Viagem</b> trabalha, e algumas de suas coberturas. Uma delas foi feita especialmente para sua viagem 😊
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Plano</th>
                                <th>Assistência Médica</th>
                                <th>Perda de bagagem</th>
                                <th>Gestantes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Euro Max</td>
                                <td>EUR 55.000,00</td>
                                <td>US$ 1.200,00</td>
                                <td>EUR 55.000,00</td>
                            </tr>
                            <tr>
                                <td>Global</td>
                                <td>US$ 110.000,00</td>
                                <td>US$ 1.200,00</td>
                                <td>US$ 110.000,00</td>
                            </tr>
                            <tr>
                                <td>Diamante</td>
                                <td>US$ 35.000,00</td>
                                <td>US$ 1.200,00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Full</td>
                                <td>US$ 60.000,00</td>
                                <td>US$ 1.200,00</td>
                                <td>US$ 60.000,00</td>
                            </tr>
                            <tr>
                                <td>All Sports</td>
                                <td>US$ 18.000,00</td>
                                <td>US$ 1.200,00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Planet</td>
                                <td>US$ 275.000,00</td>
                                <td>US$ 1.200,00</td>
                                <td>US$ 275.000,00</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content content-primary">
                                <h5 class="category-social">
                                    <i class="fa fa-newspaper-o"></i> Blog da Multi
                                </h5>
                                <h4 class="card-title">
                                    <a href="https://blog.multiseguroviagem.com.br/operadoras-de-seguro-viagem/seguro-viagem-gta/">Leia sobre a GTA e muito mais em nosso blog!</a>
                                </h4>
                                <p class="card-description">
                                    Uma seleção de conteúdos feitos para viajantes exigentes. Saiba tudo sobre viagens, assistências e seguros em nosso blog!
                                </p>
                                <div class="footer text-center">
                                    <a href="https://blog.multiseguroviagem.com.br/operadoras-de-seguro-viagem/seguro-viagem-gta/" target="_blank" class="btn btn-white btn-round">Ir para o blog</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-content content-rose">
                                <h5 class="category-social">
                                    <i class="fa fa-external-link-square" aria-hidden="true"></i> A Operadora
                                </h5>
                                <h4 class="card-title">
                                    <a href="#pablo">Visite o Site</a>
                                </h4>
                                <p class="card-description">
                                    Saiba mais informações no site da GTA. Leia notícias, informações e conheça um pouco mais sobre uma das maiores operadoras do Brasil.
                                </p>
                                <div class="footer text-center">
                                    <a href="https://www.gtaassist.com.br/sitev2/home/" target="_blank" class="btn btn-white btn-round">Ir para a GTA</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-content content-success">
                                <h5 class="category-social">
                                    <i class="fa fa-smile-o" aria-hidden="true"></i> Reclame Aqui
                                </h5>
                                <h4 class="card-title">
                                    <a href="#pablo">Leia comentários e reclamações</a>
                                </h4>
                                <p class="card-description">
                                    Veja as reclamações, comentários e respostas da GTA no Reclama Aqui
                                </p>
                                <div class="footer text-center">
                                    <a href="https://www.reclameaqui.com.br/empresa/gta-global-travel-assistance/" target="_blank" class="btn btn-white btn-round">Ir para o Reclame Aqui</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>
                            A GTA é totalmente alinhada às exigências da <a href="http://www.susep.gov.br/" target="_blank">SUSEP (Superintendência de Seguros Privados)</a>, garantindo todos os direitos dos viajantes.
                        </p>
                        <p>
                            Montando seu próximo roteiro? Descubra os planos da GTA e aproveite o melhor da sua viagem.
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts
{

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
      <script src="/www/js/vendor/jquery.bxslider.min.js"></script>
      <script src="/www/js/vendor/moment-with-locales.min.js"></script>
      <script src="/www/js/vendor/scrollreveal.min.js"></script>
      <script src="/www/js/vendor/date-input-polyfill.dist.js"></script>
      <script src="/www/js/vendor/bootstrap-datetimepicker.js"></script>
      <script src="/www/js/custom-validations.js"></script>
    }
    else
    {
      <script src="/www/bundles/bundleVendorIndex.js"></script>
      <script src="/www/bundles/bundleIndex.js"></script>
      <script async defer src="/www/js/modulos/afiliaceTrackerOffer.js"></script>
    }
    
    <link href="/www/css/seo.css" rel="stylesheet" />
    <script>
        // Scroll Reveal


        var $body   = $(document.body);
        var navHeight = $('.navbar').outerHeight(true) + 10;

        $('#sidebar').affix({
                offset: {
                top: 150,
                bottom: 400
                }
        });

        $body.scrollspy({
	        target: '#rightCol',
	        offset: navHeight
        });

        $('#sidebar').width($('#sidebar').parent().width());
    </script>
}