<!DOCTYPE html>
<html amp lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-script" src="https://cdn.ampproject.org/v0/amp-script-0.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Cote e Compare o Melhor Seguro Viagem Internacional. Simples e rápido, você visualiza diversas opções. Inclui alterações sem limites.">
    <meta name="keywords" content="seguro viagem, seguro de viagem, cotação seguro viagem, seguro internacional, assistência viagem">
    <meta name="title" content="Comparar Seguro Viagem [até 70% OFF] é com a Multi Seguro Viagem">
    <meta content="pt_BR" property="og:locale" />
    <meta content="https://multiseguroviagem.com.br" property="og:url" />
    <meta content="Comparar Seguro Viagem [até 70% OFF] é com a Multi Seguro Viagem" property="og:title" />
    <meta content="Multi Seguro Viagem" property="og:site_name" />
    <meta content="Cote e Compare o Melhor Seguro Viagem Internacional. Simples e rápido, você visualiza diversas opções. Inclui alterações sem limites." property="og:description" />
    <meta content="https://multiseguroviagem.com.br/www/img/multiseguroviagem.jpg" property="og:image" />
    <meta content="https://multiseguroviagem.com.br/www/img/multiseguroviagem.jpg" property="og:image:secure_url" />
    <meta content="image/jpeg" property="og:image:type" />
    <meta content="1200" property="og:image:width" />
    <meta content="630" property="og:image:height" />
    <meta content="website" property="og:type" />
    <meta name="google-site-verification" content="AB2PiIHAvjKaZG0kJhdlGWYHy6M_xjzXSCea4CLYWWo" />
    <meta name="mobile-web-app-capable" content="yes">

    <script async custom-element = "amp-form"src = "https://cdn.ampproject.org/v0/amp-form-0.1.js"></script> <!--Usar forms-->
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script> <!-- Usar spans-->
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script> <!-- Usar carousel-->
    

    <title>Comparar Seguro Viagem [até 70% OFF] é com a Multi Seguro Viagem</title>

    <!-- todo css -->
    <style amp-custom>
        /* custom fonts*/
         @import url('custom.min.css');
         @import url('bundleVendorLayout.css');

    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>


</head>
<body>
    <amp-script layout="container" src="https://userj.jelastic.saveincloud.net/server/ab/multiseguroviagem.com.br.ab.js"></amp-script>
    <amp-script layout="container" src="https://userj.jelastic.saveincloud.net/server/ust.min.js"></amp-script>

    <!-- Menu -->
    <main>
        <header class="navbar navbar-primary navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="logo-container">
                        <div class="logo">
                            <a href="/">
                                <amp-img src="https://cdn.multiseguroviagem.com.br/img/logomulti.png" alt="Multi Seguro Viagem" title="Multi Seguro Viagem" height="50" width="152" layout="responsive"></amp-img>
                            </a>
                        </div>
                     </div>
                </div>
            </div>
        </header>
    <!-- Fim Menu (navbar) -->

    <!-- Header-2 Home -->
    <div class="header-2 home">

        <!-- COLOCAR IMAGEM DE FUNDO -->
        <div class="page-header gradiente" id="image">
            
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="title" id="in-titulo-home">
                            <span class="frik1">Seguro Viagem: </span><a class="gradientmulti"> Troque o medo por segurança.</a>
                        </h1>
                        <h2 class="title titleh2home" id="in-titulo-home">
                            <a class="gradientmulti"></a><span class="frik3">O melhor Comparador de Seguro Viagem</span>
                        </h2>
                    </div>
                    <div class="col-md-12 landing-padding-card">
                        <div class="card card-raised card-form-horizontal" id="in-card-card-raised-home">
                            <div class="card-content" id="in-card-card-content-home">


                                <form class="sample-form" id="frmCotacao" method="post" action-xhr="/Home/Cotacao" target="_top">    
                                    <input name="__RequestVerificationToken" type="hidden" value="C7XS3tDRomISvTi_iKlCgVVQJ8QjXzSuQOhn6r9u00p5oixSNTXPvH5eGVRtQMpxniVFLcsnnuY1f9c6lh0-REhusC_IHrVJss33QaOp5wg1" />
                                    <input id="Origem" name="Origem" type="hidden" value="" />
                                    <input id="Cpaff" name="Cpaff" type="hidden" value="" />                               
                                     <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-group ">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">public</i>
                                                    </span>
                                                    
                                                <div class="form-group select-button ">
                                                    
                                                    <select id="Destino" name="Destino">
                                                        <option disabled="disabled" selected="selected">Destino</option>
                                                        <option disabled="disabled">Selecione seu destino</option>
                                                        <option value="1">Am&#233;rica do Norte</option>
                                                        <option value="2">&#193;frica</option>
                                                        <option value="3">Am&#233;rica Central</option>
                                                        <option value="4">Am&#233;rica do Sul</option>
                                                        <option value="5">&#193;sia</option>
                                                        <option value="6">Brasil</option>
                                                        <option value="7">Europa</option>
                                                        <option value="8">Oceania</option>
                                                        <option value="9">Oriente M&#233;dio</option>
                                                    </select>
                                                </div>
                                             
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="input-group ">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">flight_takeoff</i>
                                                    </span>
                                                <div class="form-group is-empty">
    <input Autocomplete="off" Class="form-control datepicker" Data-Message-Empty="Selecione a data de ida" Data-Type-Validation="data" Placeholder="Embarque no Brasil" ReadOnly="true" data-val="true" data-val-required="Informe a data de ida" id="DataIda" name="DataIda" type="text" value="" />                                            </div>
                                            </div>
                                        </div>
    
                                        <div class="col-md-3">
    
                                            <div class="input-group ">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons inv">flight_land</i>
                                                    </span>
                                                <div class="form-group is-empty">
    <input Autocomplete="off" Class="form-control datepicker" Data-Message-Empty="Selecione a data de volta" Data-Type-Validation="data" Placeholder="Desembarque no Brasil" ReadOnly="true" data-val="true" data-val-required="Informe a data de volta" id="DataVolta" name="DataVolta" type="text" value="" />                                            </div>
                                            </div>
                                        </div>
    
                                        <div class="col-md-3">
                                                <button id="btnCotar" class="btn btn-primary btn-block" on="tap:in-col-md-offset-2-home.show">Buscar planos</button>
    
                                        </div>
    
                                    </div>
                                    <div class="row hidden" id="in-col-md-offset-2-home" hidden>
                                        <div class="col-md-3 form-group margin-top-zero">
                                            <label class="control-label margin-0 has-error">
                                                <span Class="control-label" class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                            </label>
    
                                            <div class="input-group " data-toggle="tooltip" data-placement="left">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">mail</i>
                                                </span>
    
                                                <div class="form-group is-empty ">
                                                    <input Class="form-control" Data-Message-Empty="Digite seu e-mail" Data-Type-Validation="email" Placeholder="Informe seu email" Type="email" data-val="true" data-val-email="O campo Email não é um endereço de email válido." data-val-required="Informe seu e-mail" id="Email" name="Email" type="text" value="" />
         
                                                </div>
                                                
                                              </div>
                                        </div>
                                        <div class="col-md-3 form-group margin-top-zero">
                                            <label class="control-label margin-0 has-error">
                                                <span Class="control-label" class="field-validation-valid" data-valmsg-for="Telefone" data-valmsg-replace="true"></span>
                                            </label>
                                            <div class="input-group " data-toggle="tooltip" data-placement="left">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">call</i>
                                                    </span>
                                                <div class="form-group is-empty ">
                                                    <input Class="form-control telefone" Data-Message-Empty="Informe o telefone" Data-Type-Validation="telefone" Mask-Telefone="true" MaxLength="20" Placeholder="Telefone de contato..." Valida="campoVazio" data-val="true" data-val-required="Informe seu Telefone" id="Telefone" name="Telefone" type="text" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 form-group margin-top-zero">
                                            <label class="control-label margin-0 has-error">
                                                <span Class="control-label" class="field-validation-valid" data-valmsg-for="Nome" data-valmsg-replace="true"></span>
                                            </label>
                                            <div class="input-group " data-toggle="tooltip" data-placement="left">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">perm_identity</i>
                                                    </span>
                                                <div class="form-group is-empty ">
                                                    <input Class="form-control" Data-Message-Empty="Informe o seu nome" MaxLength="50" Placeholder="Informe seu Nome" Valida="campoVazio" data-val="true" data-val-required="Informe seu Nome" id="Nome" name="Nome" type="text" value="" />
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-md-3">
                                                    <button type="submit" id="btnResultado" class=" btn btn-primary btn-block margin-top-5-percent">Ver resultados</button>
                                            </div>
                                        </div>
    </form>                        </div>
                        </div>
                    </div>
    
    
                    <div class="col-md-12 landing-padding-card">
                        <div class="area-botoes-home" >
                            <div class="card-content" >
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">                                      
                                            <a href="tel:1933423182" class="botoes-home btn btn-primary btn-block "><i class="fa fa-phone" aria-hidden="true"></i> TELEVENDAS: (19) 3342-3182</a>
                                        </div>
                                    </div>
    
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <a class="btn btn-primary btn-block botoes-home" href="https://web.whatsapp.com/send?phone=551932010447&text=Gostaria%20de%20receber%20mais%20informa%C3%A7%C3%B5es%20sobre%20seguro%20viagem!" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>  WHATSAPP: +55 (19) 3201-0447</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
    
                            </div>
    
                            <div class="row promo-linha hidden">
    
    
    <div class="modal fade" id="cotacaoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-signup">
            <div class="modal-content">
                <div class="card card-signup card-plain">
    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                        <h2 class="h3 modal-title card-title text-center tituloModal-js"></h2>
                    </div>
    
                    <div class="modal-body">
    
                        <div class="col-md-5 col-md-offset-1 hidden-xs">
                            <div class="info info-horizontal">
                                <div class="icon icon-info">
                                    <i class="material-icons">view_list</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title tituloTexto1-js"></h4>
                                    <p class="description descricaoTexto1-js">
                                        Seguro Viagem: Cote, Compare e Decida Aqui. Melhor Condição do Mercado.Parcele em 6x s/Juros ou Com Desconto no Boleto. Adquira Seu Cupom de Desconto Aqui!
                                    </p>
                                </div>
                            </div>
    
                            <div class="info info-horizontal">
                                <div class="icon icon-success">
                                    <i class="material-icons">credit_card</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title tituloTexto2-js"></h4>
                                    <p class="description descricaoTexto2-js">
                                        Parcele sem juros no cartão ou com <b>5% de desconto no boleto</b>! O menor preço você encontra aqui.
                                    </p>
                                </div>
                            </div>
    
                        </div>
    
                        
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <script async defer>
        document.addEventListener("DOMContentLoaded", function () {
            $('.modal-js').on('click', function (evt) {
                $('.tituloModal-js').text($(evt.target).children('input[class="tituloModal-js"]').val());
    
                $('.tituloTexto1-js').text($(evt.target).children('input[class="tituloModalBloco1-js"]').val());
                $('.descricaoTexto1-js').text($(evt.target).children('input[class="descricaoModalBloco1-js"]').val());
    
                $('.tituloTexto2-js').text($(evt.target).children('input[class="tituloModalBloco2-js"]').val());
                $('.descricaoTexto2-js').text($(evt.target).children('input[class="descricaoModalBloco2-js"]').val());
    
                $('#frmCotacaoModal #Operadora').val($(evt.target).children('input[class="filtroOperadora-js"]').val());
    
                $('#frmCotacaoModal #Identificador').val($(evt.target).children('input[class="identificador-js"]').val());
    
                var destino = $(evt.target).children('input[class="filtroDestino-js"]').val()
                    || $(evt.target).children('#DestinoBanner option:contains("' + $('#DestinoBanner option:eq(0)').text() + '")').val();
    
                var idDestino = $('#DestinoBanner option:contains("' + destino + '")').attr('value');
    
                $('#DestinoBanner').val(idDestino);
                $("#DestinoBanner").selectpicker('refresh');
    
                $('#cotacaoModal').modal('show');
            });
    
            $('#frmCotacaoModal').on('submit', function (e) {
                if (!validaForm('#frmCotacaoModal'))
                    e.preventDefault();
    
                $('#frmCotacaoModal #Origem').val(getLocalStorage('utmSource') || 'Indefinido');
            });
    
            var banner = obtemParametroUri('b');
            if (banner) {
                $('.modal-js:eq(' + (parseInt(banner) - 1).toString() + ')').trigger("click");
            }
        });
    </script>
    
                            </div>
                        </div>
                    </div>
                </div>
    
    <div class="main main-raised home-main">
        <div class="container">
            <div class="features-1" id="operadoras">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="h3 title titulo-operadoras-home">As melhores operadoras de seguro viagem estão aqui!</h2>
                    </div>
                </div>


                <section class="carousel-client" id="carousel">
                    <div class="recipe__card__content">
                    <amp-carousel width="450" height="300" layout="responsive" type="slides" autoplay delay="300">
                      <figure class="recipe__card__step" id="step1">
                          <amp-img src="/www/img/operadoras/hq/april.png" alt="amp1" height="400" width="800" layout="responsive"></amp-img> <!-- Imagens tem que respeitar o tamanho de 400x800 para mobile -->
                          <figcaption>1. Image one.</figcaption>
                        </figure>
                        <figure class="recipe__card__step" id="step2">
                          <amp-img src="../images/amp_2.jpg" alt="amp2" height="400" width="800" layout="responsive"></amp-img>
                          <figcaption>2. Image two.</figcaption>
                        </figure>
                        <figure class="recipe__card__step" id="step3">
                          <amp-img src="../images/amp_3.jpg" alt="amp3" height="400" width="800" layout="responsive"></amp-img>
                          <figcaption>
                            3. Image three.
                          </figcaption>
                        </figure>
                    </amp-carousel>
                    </div>
              </section>


                <div class="carousel-client">
    
                    <a class="slide" href="/Operadoras/AprilCoris">
                        <div class="icon-operadoraApril"><img /></div>
                    </a>
                    <a  class="slide" href="/Operadoras/Affinity">
                        <div class="icon-operadoraAffinity"><img /></div>
                    </a> 
                    <a class="slide" href="/Operadoras/AssistCard">
                        <div class="icon-operadoraAssistCard"><img /></div>
                    </a>
                    <a class="slide" href="/Operadoras/GTA">
                        <div class="icon-operadoraGTA"><img /></div>
                    </a>
                    <a class="slide" href="/Operadoras/TravelAce">
                        <div class="icon-operadoraTravelAce"><img /></div>
                    </a>
                    <a class="slide" href="/Operadoras/AssistMed">
                        <div class="icon-operadoraAssistMed"><img /></div>
                    </a>
                    <a class="slide" href="/Operadoras/Intermac">
                        <div class="icon-operadoraIntermac"><img /></div>
                    </a>
                    <a class="slide" href="/Operadoras/VitalCard">
                        <div class="icon-operadoraVital"><img /></div>
                    </a>
                </div>
            </div>
    
            <div class="row col-md-12 text-center">
                <a class="btn btn-lg btn-round btn-primary btn-verdestinos" href="/Sobre/Destinos">
                    <i class="material-icons">public</i>
                    Veja todos os destinos de Seguro Viagem
                </a>
            </div>
    
            
    
    
            
        </div>
    
       
    </div>
    
    <iframe id="frmTrackAfiliace" frame-track="true" class="iframe-hidden" src=""></iframe>
    
    
        </div>
    
        <footer class="footer footer-multi hidden-print">
            <div class="container hidden-xs hidden-sm">
                <div class="col-md-3 text-left">
                    <p class="h6">
                        <strong>Suporte e vendas</strong>
                    </p>
                    <p>
                        <a href="tel:19-3201-0447" class="telefone-footer"><i class="fa fa-phone icon-footer" aria-hidden="true"></i> (19) 3201 0447</a>
                    </p>
                    <p>
                        <a href="https://api.whatsapp.com/send?phone=551932010447&text=Gostaria%20de%20receber%20mais%20informa%C3%A7%C3%B5es%20sobre%20seguro%20viagem!" target="_blank" class="telefone-footer">
                            <i class="fa fa-whatsapp icon-footer" aria-hidden="true"></i> Envie um WhatsApp
                        </a>
                    </p>
                    <div class="icon-operadoras"></div>
                </div>
                <div class="col-md-3 text-left">
                    <p class="h6">
                        <strong>Compras e Informações</strong>
                    </p>
                    <ul>
                        <a href="/seguro-viagem">Seguro Viagem</a>
                    </ul>
                    <ul>
                        <a href="/voucher-online">Acesse seu Voucher</a>
                    </ul>
                    <ul>
                        <a href="/Sobre/OQueESeguroViagem">O que é seguro viagem?</a>
                    </ul>
                    <ul>
                        <a href="/Sobre/Coberturas">Benefícios e coberturas</a>
                    </ul>
                    <ul>
                        <a href="/Sobre/Faq">FAQ - Perguntas frequentes</a>
                    </ul>
                    <ul>
                        <a href="/Sobre/TratadodeSchengen">Tratado de Schengen</a>
                    </ul>
                    <ul>
                        <a href="/seguro-viagem-intercambio">Seguro Viagem Intercâmbio</a>
                    </ul>
                    <ul>
                        <a href="/seguro-viagem-internacional">Seguro Viagem Internacional</a>
                    </ul>
                    <ul>
                        <a href="/seguro-viagem-europa">Seguro Viagem Europa</a>
                    </ul>
    
    
                </div>
                <div class="col-md-3 col-xs-6 text-left">
                    <p class="h6">
                        <strong>Sobre a Multi</strong>
                    </p>
                    <ul>
                        <a href="/Sobre">Nossa empresa</a>
                    </ul>
                    <ul>
                        <a href="/Sobre/Contato">Entre em contato</a>
                    </ul>
                    <ul>
                        <a href="http://blog.multiseguroviagem.com.br/" target="_blank">Blog</a>
                    </ul>
                    <ul>
                        <a alt="Promoções Seguro Viagem" href="/promocoes">Promoções</a>
                    </ul>
                    <ul>
                        <a href="/Sobre/PoliticaDePrivacidade">Política de Privacidade</a>
                    </ul>
                    <a href="https://www.facebook.com/multiseguroviagem/" target="_blank">
                        <button class="btn btn-round btn-facebook btn-just-icon">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                    </a>
                    <a href="https://www.youtube.com/user/MultiSeguroViagem" target="_blank">
                        <button class="btn btn-round btn-youtube btn-just-icon">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </button>
                    </a>
                    <a href="https://www.instagram.com/multiseguroviagem/" target="_blank">
                        <button class="btn btn-round btn-instagram btn-just-icon">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6 text-left">
                    <p class="h6">
                        <strong>Segurança e Certificações</strong>
                    </p>
                    <div class="icon-certificado-1"></div>
                    <br />
                    <a href="https://www.google.com/transparencyreport/safebrowsing/diagnostic/index.html#url=https://multiseguroviagem.com.br/" target="_blank">
                        <div class="icon-google-certificado"></div>
                    </a>
                    <br />
                    <div class="icon-comodo-seal"></div>
                    <br />
                </div>
            </div>
            <div class="container hidden-md hidden-lg">
                <div class="panel-group" id="footer" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <a role="button" data-toggle="collapse" data-parent="#footer" href="#suporte" aria-expanded="true" aria-controls="collapseOne">
                                <p class="h4 panel-title">
                                    Suporte e vendas
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </p>
                            </a>
                        </div>
                        <div id="suporte" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>
                                    <a href="tel:19-3201-0447" class="telefone-footer"><i class="fa fa-phone icon-footer" aria-hidden="true"></i> (19) 3201 0447</a>
                                </p>
                                <p>
                                    <a href="https://api.whatsapp.com/send?phone=551932010447&text=Gostaria%20de%20receber%20mais%20informa%C3%A7%C3%B5es%20sobre%20seguro%20viagem!" class="telefone-footer">
                                        <i class="fa fa-whatsapp icon-footer" aria-hidden="true"></i> Envie um WhatsApp
                                    </a>
                                </p>
                                <div class="icon-operadoras"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#footer" href="#compras" aria-expanded="false" aria-controls="collapseTwo">
                                <p class="h4 panel-title">
                                    Compras e Informações
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </p>
                            </a>
                        </div>
                        <div id="compras" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <a href="/seguro-viagem">Seguro Viagem</a>
                                </ul>
                                <ul>
                                    <a href="/voucher-online">Acesse seu Voucher</a>
                                </ul>
                                <ul>
                                    <a href="/Sobre/OQueESeguroViagem">O que é seguro viagem?</a>
                                </ul>
                                <ul>
                                    <a href="/Sobre/Coberturas">Benefícios e coberturas</a>
                                </ul>
                                <ul>
                                    <a href="/Sobre/Faq">FAQ - Perguntas frequentes</a>
                                </ul>
                                <ul>
                                    <a href="/Sobre/TratadodeSchengen">Tratado de Schengen</a>
                                </ul>
                                <ul>
                                    <a href="/seguro-viagem-intercambio">Seguro Viagem Intercâmbio</a>
                                </ul>
                                <ul>
                                    <a href="/seguro-viagem-internacional">Seguro Viagem Internacional</a>
                                </ul>
                                <ul>
                                    <a href="/seguro-viagem-europa">Seguro Viagem Europa</a>
                                </ul>
    
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#footer" href="#quemSomos" aria-expanded="false" aria-controls="collapseTwo">
                                <p class="h4 panel-title">
                                    Sobre a Multi
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </p>
                            </a>
                        </div>
                        <div id="quemSomos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <a href="/Sobre">Nossa empresa</a>
                                </ul>
                                <ul>
                                    <a href="/Sobre/Contato">Entre em contato</a>
                                </ul>
                                <ul>
                                    <a href="http://blog.multiseguroviagem.com.br/" target="_blank">Blog</a>
                                </ul>
                                <ul>
                                    <a alt="Promoções Seguro Viagem" href="/promocoes">Promoções</a>
                                </ul>
                                <ul>
                                    <a href="/Sobre/PoliticaDePrivacidade">Política de Privacidade</a>
                                </ul>
                                <a href="https://www.facebook.com/multiseguroviagem/" target="_blank">
                                    <button class="btn btn-round btn-facebook btn-just-icon">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href="https://www.youtube.com/user/MultiSeguroViagem" target="_blank">
                                    <button class="btn btn-round btn-youtube btn-just-icon">
                                        <i class="fa fa-youtube" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href="https://www.instagram.com/multiseguroviagem/" target="_blank">
                                    <button class="btn btn-round btn-instagram btn-just-icon">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <p class="h6">
                            <strong>Segurança e Certificações</strong>
                        </p>
    
                        <div class="icon-certificado-1"></div>
                        <br />
    
                        <a href="https://www.google.com/transparencyreport/safebrowsing/diagnostic/index.html#url=https://multiseguroviagem.com.br/" target="_blank">
                            <div class="icon-google-certificado"></div>
                        </a>
                        <br />
                        <div class="icon-comodo-seal"></div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-3 copyright pull-center">
                &copy;
                2020, Feito com <i class="material-icons">favorite</i> pela <a href="http://bomcotar.com/" target="_blank">Corretora Bom Cotar</a>
                <p class="dados-legais">
                    Bom Cotar Corretora de Seguros Ltda<br />
                    CNPJ: 23.802.728/0001-32 | SUSEP: 10.2030975.9
                </p>
            </div>
        </footer>

    
        <script>
            //============================================================================================= SCRIPTS QUE NÃO PODEM SER ASYNC
            setaUtmSource();
    
            setaCupomAfiliado();
    
            if (window.sessionStorage.getItem('cpaff')) {
                $('#Cpaff').val(window.sessionStorage.getItem('cpaff'));
            }
            else {
                $('.promo-linha').removeClass('hidden');
            }
    
            $("#Destino option:first").hide();
            $("#Destino").selectpicker('refresh');
    
            datepickerSetup();
    
            $(function () {
                datepickerSetaMinMaxDate("#DataIda", "#DataVolta");
                datepickerSetaMinMaxDate("#DataIdaBanner", "#DataVoltaBanner");
            });
    
            $('#btnCotar').click(function () {
                if (!validaForm('#frmCotacao')) return false;
    
                $('#btnCotar').addClass('disabled').removeClass('btn-primary');
                $('#in-col-md-offset-2-home').removeClass('hidden').addClass('slideDown');
            });
    
            $('#btnResultado').click(function (event) {
    
                if (!validaForm('#frmCotacao') ) return false;
    
            });
    
            $('form').one('submit',
                function () {
                 conversaoRDStation("Formulário Home");
                });
    
            $(function () {
               enviaTagOneSignal(window.OneSignal, { "pgIndex": "true" });
         });
        </script>
    
        <script async type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://multiseguroviagem.com.br",
            "logo": "https://multiseguroviagem.com.br/www/img/favicon.png",
            "name": "Multi Seguro Viagem",
            "alternateName": "Multi Seguro",
            "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+55-19-3201-0447",
            "contactType": "Customer service",
            "areaServed": "BR",
            "availableLanguage": "Portuguese"
            },
            "sameAs": [
            "https://www.facebook.com/multiseguroviagem/",
            "https://www.instagram.com/multiseguroviagem/",
            "https://www.youtube.com/user/MultiSeguroViagem"
            ]
            }
        </script>
    
    
        <link rel="manifest" href="/www/json/manifest.json" />
    
    </body>
    </html>



</main>
</body>
</html>