@model MultiSeguroViagem.Site.Models.Site.Cotacao.CotacaoHomeModel
@{
    ViewBag.Title = "Multi Seguro Viagem | Seguro Viagem Internacional (até 50% OFF)";
    ViewBag.MetaDescription = "Seguro Viagem Internacional: Cote, Compare e Decida Aqui. Melhor Condição do Mercado.Parcele em 6x s/Juros ou Com Desconto no Boleto. Adquira um Cupom Aqui!";
    ViewBag.MetaKeywords = "seguro viagem, seguro de viagem, cotação seguro viagem, seguro internacional, assistência viagem";
    ViewBag.OGURL = "https://multiseguroviagem.com.br/seguroviageminternacional";
    ViewBag.OGTitle = "Seguro Viagem Internacional | Multi Seguro Viagem";
    ViewBag.OGSitename = "Multi Seguro Viagem";
    ViewBag.OGImage = "https://multiseguroviagem.com.br/www/img/multiseguroviagem.jpg";
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="everg">
    <div class="page-header header-small gradiente">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="title" id="in-titulo-home">Seguro Viagem Internacional</h1>
                    <h2 class="title titleh2home" id="in-titulo-home">Todas as Operadoras estão Aqui (até 50% OFF)</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="col-md-4 col-md-push-8" id="rightCol">
                <div class="card" id="sidebar">
                    <div class="card-content">
                        <div>
                            <h2 class="h4">Cote seu <strong>seguro viagem</strong> online</h2>
                        </div>
                        @{ Html.RenderPartial("HomePromocao/_Operadora"); }
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-md-pull-4">
                <div class="description">
                    <p>
                        A realização de uma viagem muitas vezes está relacionada a realização de um sonho, a possibilidade de conhecer uma nova cultura, busca por novas experiências ou mesmo para relaxar e ter um tempo para encontrar tranquilidade fora da rotina do dia-a-dia.
                    </p>
                    <img class="img-rounded img-responsive" alt="Seguro Viagem Internacional" src="~/www/img/seo/internacional.png">
                    <p>
                        Para conseguir fazer uma viagem internacional, normalmente são considerados diversos fatores no momento de planejamento, seja compra de moeda estrangeira, passagem aérea, reserva do hotel, locação de carros, compra de roupas, malas apropriadas e escolha dos passeios e destinos que serão visitados. Tudo isso para que nenhum imprevisto atrapalhe o momento de lazer e descontração.
                    </p>
                    <p>
                        É muito importante que neste momento de planejamento o Seguro Viagem Internacional seja também considerado, principalmente para que imprevistos e situações não planejadas, que podem acontecer em qualquer viagem, não acabe com todo seu sonho e orçamento financeiro da viagem.
                    </p>
                    <p>
                        O Custo do <strong>Seguro Viagem Internacional</strong> normalmente não ultrapassa 5% dos gastos totais da viagem e em caso de necessidade de utilização, esse investimento fará toda a diferença em sua segurança financeira e também seu bem-estar para a continuidade da viagem.
                    </p>
                    <h3>O que é o Seguro Viagem Internacional?</h3>
                    <p>O Seguro Viagem Internacional é um plano de seguro que tem como principal objetivo assistir, auxiliar e também reembolsar o viajante em caso de diversas situações de emergência e imprevistos que são cobertos pelo plano de Seguro.</p>
                    <p>
                        Os planos possuem suas tarifas calculadas baseadas na quantidade de dias de viagem, no destino do viajante, além do valor da cobertura desejada, quanto maior a cobertura, maior será a tarifa diária cobrada pela segurada.
                    </p>
                    <p>
                        O Perfil do viajante e as atividades que serão realizadas na viagem também podem interferir na tarifa, tendo em vista que existem planos que cobrem inclusive a prática de esportes, passageiros gestantes e também idosos que precisam de uma atenção e cuidados especiais em viagens ao exterior.
                    </p>
                    <p>
                        Existem hoje mais de 15 seguradoras no mercado que oferecem diversas opções de planos de seguro viagem internacional, no Multi Seguro Viagem você consegue realizar a cotação com as principais e mais respeitadas seguradoras do mercado. Através de uma única cotação é possível comparar as opções de mais de 50 planos e suas diferentes coberturas.
                    </p>
                    <h3>Coberturas do Seguro Viagem Internacional</h3>
                    <p>Os planos de seguro viagem internacional possuem coberturas variadas, desde as mais básicas até planos com coberturas altas e completas. As principais coberturas dos planos de Seguro Viagem Internacional são:</p>
                    <ul>
                        <li>Despesas Médica e Hospitalares ocorridas em Viagem</li>
                        <li>Despesas Médicas ocorridas em viagem relacionadas à doença pré-existente</li>
                        <li>Despesas Odontológicas Emergenciais</li>
                        <li>Translado Médico</li>
                        <li>Regresso Sanitário</li>
                        <li>Despesas Farmacêuticas</li>
                        <li>Seguro para Morte Acidental em Viagem</li>
                        <li>Seguro para Invalidez Total e Parcial por acidente</li>
                        <li>Seguro para Extravio de Bagagem</li>
                        <li>Seguro de Reembolso em caso de Atraso de Bagagem</li>
                        <li>Seguro para Danos ocasionados a Mala</li>
                        <li>Seguro para Cancelamento de Viagem</li>
                    </ul>
                    <p>Além dos serviços de Assistências aos viajantes, que são inclusos no plano, variando conforme a seguradora que contratar, sendo alguns deles:</p>
                    <ul>
                        <li>Assistência Jurídica</li>
                        <li>Adiantamento em caso de fiança</li>
                        <li>Auxílio para reserva de hotel para acompanhante</li>
                        <li>Reserva de Passagem aérea de ida e volta para um familiar caso seja necessário</li>
                        <li>Transmissão de mensagens urgentes</li>
                        <li>Assistência na localização de bagagem</li>
                        <li>Orientação em caso de perda de documentos / cartões de crédito</li>
                    </ul>
                    <p>É importante que sempre antes de efetivar a compra de seu seguro sejam avaliadas todas as coberturas de seu plano e verificar se os valores cobertos estão compatíveis com sua necessidade e o perfil de sua viagem. Se estiver na dúvida, não hesite em contatar os consultores da Multi Seguro Viagem para que possam lhe ajudar a encontrar os melhores planos e coberturas para sua viagem.</p>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content content-primary text-center">
                                <h3 class="card-title">
                                    <a href="@Url.Action("TratadodeSchengen", "Sobre")">Seguro Viagem Obrigatório</a>
                                </h3>
                                <p class="card-description">
                                    Alguns países da Europa exigem um seguro viagem! Saiba tudo sobre o Tratado de Schengen e não perca sua viagem!
                                </p>
                                <div class="footer text-center">
                                    <a href="@Url.Action("TratadodeSchengen", "Sobre")" target="_blank" class="btn btn-white btn-round">Saiba mais</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <h3>Qual Plano Contratar?</h3>
                    <p>
                        A contratação do plano de seguro viagem adequado para seu perfil é fundamental para que sua viagem ocorra com toda a segurança e conforto que você merece, quanto maior a cobertura contratada, mais tranquilo você estará.
                    </p>
                    <p>
                        É importante ressaltar que alguns destinos como o continente europeu por exemplo, possuem exigências de coberturas mínimas, além da obrigatoriedade da contratação do seguro, portanto é importante considerar isso no momento de contratar o plano.
                    </p>
                    <p>
                        Os planos de Seguro Internacional mais comercializados para destinos internacionais variados são:
                    </p>
                    <h5>Multi Seguros 100k</h5>
                    <ul>
                        <li>
                            Seguradora: Universal Assistance
                        </li>
                        <li>
                            Assistência Médica: US$ 100.000,00
                        </li>
                        <li>
                            Extravio de Bagagem: US$ 1.000,00
                        </li>
                        <li>
                            Custo médio por dia de US$ 6,00*
                        </li>
                    </ul>
                    <h5>AC 100</h5>
                    <ul>
                        <li>
                            Seguradora: Assist Card
                        </li>
                        <li>
                            Assistência Médica: US$ 100.000,00
                        </li>
                        <li>
                            Extravio de Bagagem: US$ 1.200,00
                        </li>
                        <li>
                            Custo médio por dia de US$ 6,51*
                        </li>
                    </ul>
                    <p><small> As Tarifas tem o preço estimado e podem ser alteradas pelas seguradoras sem aviso prévio, prevalecendo sempre a cotação vigente no momento do fechamento do seguro.</small></p>
                    <div class="row">
                        <h2>Depoimenos de Clientes da Multi Seguro Viagem</h2>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-content content-info">
                                    <h3 class="h5 category-social">
                                        <i class="material-icons">message</i> Depoimentos
                                    </h3>
                                    <h4 class="card-title">
                                        <a href="@Url.Action("Depoimentos", "Sobre")">Veja alguns depoimentos de clientes em nossa página dedicada</a>
                                    </h4>
                                    <div class="footer">
                                        <a href="@Url.Action("Depoimentos", "Sobre")" class="btn btn-white btn-round">Ver depoimentos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fb-page" data-href="https://www.facebook.com/multiseguroviagem/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/multiseguroviagem/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/multiseguroviagem/">Multi Seguro Viagem</a></blockquote></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content content-primary">
                                <h5 class="category-social">
                                    <i class="fa fa-newspaper-o"></i> Blog da Multi
                                </h5>
                                <h4 class="card-title">
                                    <a href="https://blog.multiseguroviagem.com.br/?s=interc%C3%A2mbio">Leia sobre a Seguro Viagem Internacional e muito mais em nosso blog!</a>
                                </h4>
                                <p class="card-description">
                                    Uma seleção de conteúdos feitos para viajantes exigentes. Saiba tudo sobre viagens, assistências e seguros em nosso blog!
                                </p>
                                <div class="footer text-center">
                                    <a href="https://blog.multiseguroviagem.com.br/?s=interc%C3%A2mbio" target="_blank" class="btn btn-white btn-round">Ir para o blog</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@{ Html.RenderPartial("HomePromocao/_ModalBannerSeguro"); }
@section Scripts
{

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="/www/js/vendor/jquery.bxslider.min.js"></script>
        <script src="/www/js/vendor/moment-with-locales.min.js"></script>
        <script src="/www/js/vendor/scrollreveal.min.js"></script>
        <script src="/www/js/vendor/date-input-polyfill.dist.js"></script>
        <script src="/www/js/vendor/bootstrap-datetimepicker.js"></script>
        <script src="/www/js/custom-validations.js"></script>
        <script src="/www/js/modulos/datePicker.js"></script>

    }
    else
    {
        <script src="/www/bundles/bundleVendorIndex.js"></script>
        <script src="/www/bundles/bundleIndex.js"></script>
        <script async defer src="/www/js/modulos/afiliaceTrackerOffer.js"></script>
    }
    <script async>

    </script>


    <link href="/www/css/seo.css" rel="stylesheet" />
    <script>
        // Scroll Reveal
        datepickerSetup();

        var $body = $(document.body);
        var navHeight = $('.navbar').outerHeight(true) + 10;

        $('#sidebar').affix({
            offset: {
                top: 150,
                bottom: 400
            }
        });

        $body.scrollspy({
            target: '#rightCol',
            offset: navHeight
        });

        $('#sidebar').width($('#sidebar').parent().width());

        $(document).on('click', 'a[href^="#0"]', function (event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top - 100
            }, 500);
        });
        $(function () {
            $("a[href^='http']:not([href*='multiseguroviagem.com.br'])").each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    window.open(this.href, '_blank');
                }).addClass('externalLink');
            });
        });


    </script>
}
