@model MultiSeguroViagem.Site.Models.Site.Cotacao.CotacaoHomeModel
@{
    ViewBag.Title = "Seguro Viagem para Intercâmbio com até 50% OFF";
    ViewBag.MetaDescription = "Seguro Viagem Intercâmbio: Cote, Compare e Decida Aqui. Melhor Condição do Mercado.Parcele em 6x s/Juros ou Com Desconto no Boleto. Adquira um Cupom Aqui!";
    ViewBag.MetaKeywords = "seguro viagem, seguro de viagem, cotação seguro viagem, seguro internacional, assistência viagem";
    ViewBag.OGURL = "https://multiseguroviagem.com.br/seguroviagemintercambio";
    ViewBag.OGTitle = "Seguro Viagem | Multi Seguro Viagem";
    ViewBag.OGSitename = "Multi Seguro Viagem";
    ViewBag.OGImage = "https://multiseguroviagem.com.br/www/img/multiseguroviagem.jpg";
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="everg">
    <div class="page-header header-small gradiente">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="title" id="in-titulo-home">Seguro Viagem para Intercâmbio</h1>
                    <h2 class="title titleh2home" id="in-titulo-home">Todas as Operadoras estão Aqui (até 50% OFF)</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="col-md-4 col-md-push-8" id="rightCol">
                <div class="card" id="sidebar">
                    <div class="card-content">
                        <div>
                            <h2 class="h4">Cote seu <strong>seguro viagem para intercâmbio</strong> online</h2>
                        </div>
                        @{ Html.RenderPartial("HomePromocao/_Operadora"); }
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-md-pull-4">
                <div class="description">

                    <p>
                        A realização de um intercâmbio é uma das melhores formas de conhecer novas culturas, vivenciar novas experiências, aliadas ao aprimoramento de um novo idioma ou a especialização e complemento de sua formação educacional.
                    </p>
                    <p>
                        Muitas pessoas buscam através de uma viagem de intercâmbio evoluir suas competências pessoais e profissionais, seja através de um trabalho temporário no exterior, ou através da realização de um curso, ou pesquisa e especialização profissional.
                    </p>
                    <img class="img-rounded img-responsive" alt="Seguro Viagem para Intercâmbio" src="~/www/img/seo/intercambio.png">
                    <p>
                        É muito importante que no planejamento de sua viagem, seja sempre considerada a contratação de um <b>Seguro Viagem para Intercâmbio</b>, desta forma você estará garantindo que a sua viagem ocorra de maneira mais segura, com a cobertura financeira de diferentes tipos de imprevistos e também poder contar com a assistência garantida pelos planos de seguro viagem em situações de emergência.
                    </p>
                    <p>Existem diferentes modalidades de intercâmbio, que possuem durações variadas, desde cursos com curtos períodos de duração, até cursos de graduação e especialização que podem em alguns casos durar anos até sua conclusão.</p>
                    <p>Independente da duração do seu intercambio ter a cobertura de um seguro viagem é fundamental para garantir a conclusão de seus objetivos sem que eventuais imprevistos acabem com o orçamento de sua viagem.</p>
                    <p>É sempre importante reforçar que as despesas médicas no exterior são totalmente arcadas pelo viajante caso ocorra alguma doença ou acidente durante a viagem, além disso os tratamentos médicos costumam ter valores elevados no exterior, dependendo da situação que aconteça o valor do tratamento médico pode em alguns casos ultrapassar inclusive o valor investido em todo o intercambio, prejudicando todo planejamento financeiro realizado.</p>

                    <h3>Seguro Viagem é obrigatório para Intercâmbio?</h3>
                    <p>Talvez você ainda não tenha fechado o seu intercâmbio, porém é muito importante sempre antes de viajar, verificar quais são os requisitos da faculdade ou da instituição organizadora de seu intercambio.</p>
                    <p>Existem diversos programas de intercâmbio que exigem a contratação de um plano de seguro viagem por conta do Estudante, exatamente para garantir a cobertura do viajante em caso de ocorrências de imprevistos.</p>
                    <p>É muito importante ficar atento nas coberturas obrigatórias, existem algumas instituições que exigem coberturas mínimas de até US$ 250.000,00 para a assistência médica, além de solicitar obrigatoriedade de cobertura em Repatriações e Translados Médicos.</p>
                    <p>Ao realizar uma cotação no site Multi Seguro Viagem, você poderá contar com mais de 60 diferentes planos de seguro viagem de diferentes seguradoras, com certeza você conseguirá encontrar um que tenha as coberturas necessárias, caso esteja com dificuldades, não hesite em contatar a nossa equipe de consultores para ajudar na escolha de seu plano.</p>

                    <h3>Seguro Viagem para Intercâmbio com Descontos e Vantagens Especiais:</h3>
                    <p>As Seguradoras desenvolvem diferentes planos de Seguro Viagem com coberturas bastante variadas, por conta da demanda deste perfil de viagem, existem vários planos de Seguro Viagem no mercado com condições especiais para pessoas que estão indo estudar no exterior.</p>
                    <p>Estes planos costumam ter um custo benefício muito interessante, normalmente com coberturas bastante completas, disponíveis para viagens de duração de até um ano, com tarifas muito atrativas.</p>
                    <p>No sistema de cotação online da Multi Seguro Viagem é possível filtrar os planos focados neste público através da escolha do tipo de viagem “estudante”, podendo escolher entre os planos disponíveis para este público das diversas seguradoras comercializadas.</p>
                    <p>É muito importante ressaltar que se o seu intercambio for apenas cultural, sem a realização de estudos, a condição especial pode não ser válida, já que a seguradora poderá solicitar um documento que comprove a sua matricula em instituição de ensino no exterior.</p>
                    <p>Neste caso é recomendado a contratação de um plano tradicional, mas não se preocupe existem vários planos para longa estadia no exterior com condições bastante atrativas disponíveis também.</p>

                    <h3>Coberturas do Seguro Viagem para Intercâmbio:</h3>
                    <p>As principais coberturas dos planos de Seguro Viagem para Intercâmbio estão relacionadas a coberturas de Despesas Médicas e Hospitalares, além do seguro de bagagem e os serviços de assistência ao viajante que fazem toda a diferença caso aconteça algum imprevisto durante a viagem.</p>
                    <p>É muito importante se atentar aos valores de cobertura contratados, quanto maior o período da viagem, maior o valor de cobertura recomendado, para que desta forma as coberturas em caso de acionamentos múltiplos sejam suficientes.</p>
                    <p>Abaixo listamos as coberturas mais comuns dos planos de Seguro Viagem de Intercâmbio:</p>
                    <ul>
                        <li>Despesas Médica e Hospitalares ocorridas em Viagem</li>
                        <li>Despesas Médicas ocorridas em viagem relacionadas a doença pré-existente</li>
                        <li>Despesas Odontológicas Emergenciais</li>
                        <li>Translado Médico</li>
                        <li>Regresso Sanitário</li>
                        <li>Despesas Farmacêuticas</li>
                        <li>Seguro para Morte Acidental em Viagem</li>
                        <li>Seguro para Invalidez Total e Parcial por acidente</li>
                        <li>Seguro para Extravio de Bagagem</li>
                        <li>Seguro de Reembolso em caso de Atraso de Bagagem</li>
                        <li>Seguro para Danos ocasionados a Mala</li>
                        <li>Seguro para Cancelamento de Viagem</li>
                    </ul>
                    <p>Abaixo listamos as coberturas mais comuns dos planos de Seguro Viagem de Intercâmbio:</p>
                    <ul>
                        <li>Assistência Jurídica</li>
                        <li>Adiantamento em caso de fiança</li>
                        <li>Auxilio para reserva de hotel para acompanhante</li>
                        <li>Reserva de Passagem aérea de ida e volta para um familiar caso seja necessário</li>
                        <li>Transmissão de mensagens urgentes</li>
                        <li>Assistência na localização de bagagem</li>
                        <li>Orientação em caso de perda de documentos / cartões de crédito</li>
                    </ul>

                    <h3 class="mt-5">Principais Planos de Seguro Viagem de Intercâmbio:</h3>
                    <p>Os principais planos disponíveis para Intercâmbios e Viagens de Longa Estadia são:</p>

                    <div class="row">
                        
                        <div class="col-md-6">
                            <h3 class="titulo-intercambio">Multi Seguros 40k – Long Stay</h3>
                            <ul>
                                <li>Seguradora: Universal Assistance</li>
                                <li>Assistência Médica: US$ 40.000,00</li>
                                <li>Perda de Bagagem: US$ 1.000,00</li>
                                <li>Custo Médio de US$ 3.00 por dia*</li>
                            </ul>
                        </div>
                        
                        <div class="col-md-6">
                            <h3 class="titulo-intercambio">Student Global</h3>
                            <ul>
                                <li>Seguradora: GTA</li>
                                <li>Assistência Médica: US$ 110.000,00</li>
                                <li>Perda de Bagagem: US$ 1.200,00</li>
                                <li>Custo Médio de US$ 3.00 por dia* (em longos períodos)</li>
                            </ul>
                        </div>
                       
                    </div>
                    <p>* As Tarifas tem o preço estimado e podem ser alteradas pelas seguradoras sem aviso prévio, prevalecendo sempre a cotação vigente no momento do fechamento do seguro.</p>

                            <div class="row">
                                <h2>Depoimenos de Clientes da Multi Seguro Viagem</h2>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-content content-info">
                                            <h3 class="h5 category-social">
                                                <i class="material-icons">message</i> Depoimentos
                                            </h3>
                                            <h4 class="card-title">
                                                <a href="@Url.Action("Depoimentos", "Sobre")">Veja alguns depoimentos de clientes em nossa página dedicada</a>
                                            </h4>
                                            <div class="footer">
                                                <a href="@Url.Action("Depoimentos", "Sobre")" class="btn btn-white btn-round">Ver depoimentos</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="fb-page" data-href="https://www.facebook.com/multiseguroviagem/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/multiseguroviagem/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/multiseguroviagem/">Multi Seguro Viagem</a></blockquote></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-content content-primary">
                                        <h5 class="category-social">
                                            <i class="fa fa-newspaper-o"></i> Blog da Multi
                                        </h5>
                                        <h4 class="card-title">
                                            <a href="https://blog.multiseguroviagem.com.br/?s=interc%C3%A2mbio">Leia sobre a Seguro Viagem para Intercâmbio e muito mais em nosso blog!</a>
                                        </h4>
                                        <p class="card-description">
                                            Uma seleção de conteúdos feitos para viajantes exigentes. Saiba tudo sobre viagens, assistências e seguros em nosso blog!
                                        </p>
                                        <div class="footer text-center">
                                            <a href="https://blog.multiseguroviagem.com.br/?s=interc%C3%A2mbio" target="_blank" class="btn btn-white btn-round">Ir para o blog</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
@{ Html.RenderPartial("HomePromocao/_ModalBannerSeguro"); }
@section Scripts
{

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="/www/js/vendor/jquery.bxslider.min.js"></script>
        <script src="/www/js/vendor/moment-with-locales.min.js"></script>
        <script src="/www/js/vendor/scrollreveal.min.js"></script>
        <script src="/www/js/vendor/date-input-polyfill.dist.js"></script>
        <script src="/www/js/vendor/bootstrap-datetimepicker.js"></script>
        <script src="/www/js/custom-validations.js"></script>
        <script src="/www/js/modulos/datePicker.js"></script>

    }
    else
    {
        <script src="/www/bundles/bundleVendorIndex.js"></script>
        <script src="/www/bundles/bundleIndex.js"></script>
        <script async defer src="/www/js/modulos/afiliaceTrackerOffer.js"></script>
    }
    <script async>

    </script>


    <link href="/www/css/seo.css" rel="stylesheet" />
    <script>
        // Scroll Reveal
        datepickerSetup();

        var $body = $(document.body);
        var navHeight = $('.navbar').outerHeight(true) + 10;

        $('#sidebar').affix({
            offset: {
                top: 150,
                bottom: 440
            }
        });

        $body.scrollspy({
            target: '#rightCol',
            offset: navHeight
        });

        $('#sidebar').width($('#sidebar').parent().width());

        $(document).on('click', 'a[href^="#0"]', function (event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top - 100
            }, 500);
        });
        $(function () {
            $("a[href^='http']:not([href*='multiseguroviagem.com.br'])").each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    window.open(this.href, '_blank');
                }).addClass('externalLink');
            });
        });


    </script>
}
