<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="intevaloTempoExecucaoVoucher" value="60"/>
    <add key="uriApiMultiIntegra" value="https://apihom.multiseguroviagem.com.br/multiintegra/v1"/>
    <add key="usuarioApi" value="desenvolvimento@cenariocapital.com.br"/>
    <add key="senhaApi" value="Exito#2017"/>
    <add key="emailsVoucher" value="desenvolvimento@cenariocapital.com.br"/>
    <add key="emailsAlertas" value="desenvolvimento@cenariocapital.com.br"/>
    <!--Credenciais RedeCard Prod 
  <add key="FiliacaoRede" value="88028836" />
    <add key="SenhaRede" value="04abc8c39713431caa56c459200b5f3d" />--> 
    
    <!--Credenciais RedeCard Hom -->
    <add key="FiliacaoRede" value="50079557"/>
    <add key="SenhaRede" value="4913bb24a0284954be72c4258e229b86"/>
  </appSettings>
  <connectionStrings>
    <!-- PRD  -->
    <!--<add name="MultiSeguro" connectionString="Server=node7958-cenariocapital-multi.jelastic.saveincloud.net;port=11094;Database=multiSeguroViagem;Uid=multiseguro;Pwd=8y6raFEXWqqHta9c;" providerName="System.Data.SqlClient" />-->

    <!-- HOM -->
    <add name="MultiSeguro" connectionString="Server=191.243.199.201;port=3306;Database=multiSeguroViagem;Uid=cenariocapital;Pwd=Exito#2017;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
